@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  position: fixed;
  z-index: 9990;
  bottom: 0;
  right: 0;

  background-color: rgba(var(--black), 1);

  cursor: default;
}

.blocks-wrapper {
  padding: 1rem 2rem 1rem 1rem;

  font-family: $secondary-font-stack;
  font-size: .8rem;
  font-weight: normal;
  color: rgba(var(--white), .75);
}

.block {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .padding {
    padding: .25rem 0;
  }

  .label {
    padding-right: .5rem;
  }

  .value {
    @include trans();
    font-variant: tabular-nums;
  }

  &.behind1 {
    .value {
      color: rgba(var(--base-color), 1);
    }
  }

  &.behind2 {
    .value {
      color: rgba(var(--escrow-color), 1);
    }
  }

  &.behind3,
  &.bad {
    .value {
      color: rgba(255, 0, 72, 1);
    }
  }
}
