@if ((gasSvc.gas$ | async); as gas) {
  <div class="network-gas">
    <div class="gas">
      {{ (gas?.ProposeGasPrice || 0) | number : '1.0-0' }} Gwei
    </div>
    <div class="network">
      {{ chain === 1 ? 'mainnet' : 'sepolia' }}
    </div>
  </div>
}

@if (blocks$ | async; as blocks) {
  <div
    class="blocks-wrapper"
    [class.active]="logsActive$ | async"
    [title]="(blocks[0] - blocks[1]) ? (blocks[0] - blocks[1]) + ' blocks behind' : 'synced'"
    (click)="expandCollapse()">

    <div class="indexer">
      <div class="block">
        <div class="label">Current</div>
        <div class="value">{{ blocks[0] || 'waiting..' }}</div>
      </div>

      <div
        class="block"
        [class]="(blocks[0] - blocks[1]) < 4 ? levels[(blocks[0] - blocks[1])] : blocks[1] ? 'bad' : ''">

        <div class="label">Indexer</div>
        <div class="value">{{ blocks[1] || 'waiting..' }}</div>
      </div>
    </div>

    <button class="expand-button">
      <ng-template [ngTemplateOutlet]="arrowIcon" />
    </button>
  </div>
}

@if ((config$ | async)?.chat) {
  <button
    class="chat-button"
    [class.active]="chatActive$ | async"
    (click)="toggleChat()">

    @if ((unreadCount$ | async); as unreadCount) {
      @if (unreadCount > 0) {
        <span class="unread-count">{{ unreadCount }}</span>
      }
    }

    <ng-template [ngTemplateOutlet]="chatIcon" />
  </button>
}

@if ((chatActive$ | async); as active) {
  <app-chat />
}

@if ((logsActive$ | async); as active) {
  <app-logger />
}

<ng-template #chatIcon>
  <svg height="9" viewBox="0 0 11 9" width="11" xmlns="http://www.w3.org/2000/svg"><path d="m2 7v1h3v1h-5v-1h1v-1zm6 0v1h-3v-1zm-5-1v1h-1v-1zm6 0v1h-1v-1zm-7-1v1h-1v-1zm8 0v1h-1v-1zm-9-3v3h-1v-3zm10 0v3h-1v-3zm-9-1v1h-1v-1zm8 0v1h-1v-1zm-8 0v-1h7v1z"/></svg>
</ng-template>


<ng-template #arrowIcon>
  <svg height="15" viewBox="0 0 25 15" width="25" xmlns="http://www.w3.org/2000/svg"><path d="m10 5v5h5v5h-5v-5h-5v-5zm-5-5v5h-5v-5zm15 5v5h-5v-5zm5-5v5h-5v-5z"/></svg>
</ng-template>
