<ng-container *ngIf="(transactions$ | async) as txns">
  <div class="txns" *ngIf="txns.length">

    <div
      class="txn-item"
      [class]="classes[txn.function]"
      *ngFor="let txn of txns">

      <a
        [routerLink]="['/details', txn.phunkId]"
        [href]="'/details/' + txn.phunkId">

        <app-phunk-image [tokenId]="txn.phunkId" />
      </a>
      <div class="txn-info">
        <h4>{{ titles[txn.function] }}</h4>
        <p [innerHTML]="transactionTypes[txn.type].message"></p>
        <a class="hash" *ngIf="txn.hash" [href]="env.explorerUrl + 'tx/' + txn.hash" target="_blank">
          <app-wallet-address [address]="txn.hash"></app-wallet-address>
          <svg height="9" viewBox="0 0 9 9" width="9" xmlns="http://www.w3.org/2000/svg"><path d="m3 0v1.5h-1.5v6h6v-1.5h1.5v3h-9v-9zm1.5 4.5v1.5h-1.5v-1.5zm1.5 0h-1.5v-1.5h1.5v-1.5h-1.5v-1.5h4.5v4.5h-1.5v-1.5h-1.5z" fill="#ff03b4" fill-rule="evenodd"/></svg>
        </a>
      </div>
    </div>

  </div>
</ng-container>
