@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  font-family: $secondary-font-stack;
  font-weight: 400;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  padding: 3rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 2rem;
  color: rgba(var(--base-color), 1);
}

p {
  font-family: $primary-font-stack;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.35;

  padding: 0;
  margin: 0 0 1rem;

  strong {
    font-weight: 700;
  }
}

.actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 2rem;

  a {
    padding: 0 1rem;

    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: rgba(var(--text-color), 1);
  }

  button {
    background-color: rgba(var(--base-color), 1);
    color: rgba(var(--black), 1);

    font-family: $secondary-font-stack;
    font-weight: 400;
    font-size: 1.2rem;
  }
}
