@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  position: fixed;
  top: calc(var(--header-height) + 4rem);
  left: 50%;

  z-index: 980;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  width: 100%;
  max-width: 100%;
  padding: 0 3rem;

  font-family: $secondary-font-stack;
  pointer-events: none;

  transform: translateX(-50%);

  @media (max-width: $mobile) {
    top: calc(var(--header-height) + 4rem);
    left: 0;
    padding: 0 1.5rem;

    transform: translateX(0);
  }
}

.txns {
  width: 100%;
  max-height: 100%;
  max-width: 38rem;

  pointer-events: auto;

  overflow-y: scroll;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;

  overflow: visible;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: $mobile) {
    max-width: 100%;
  }
}
