@use '@scss/abstracts/variables' as *;
@use '@scss/abstracts/mixins' as *;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--secondary-font-stack);
  font-weight: 400;
  height: 100%;
}

.close-wrapper {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;

  width: 3rem;
  height: 3rem;

  background: none;
  border: none;

  &[data-active-view='conversation'] {
    svg {
      path {
        fill: rgba(var(--base-color), 1);
      }
    }
  }
}

.chat-header {
  display: flex;
  align-items: center;

  height: 3rem;
  padding: 0 1rem;

  h2 {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow: hidden;
}

.message-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;

  p {
    text-align: center;
  }
}
