<section
  class="events-wrapper">

  <div class="events-header">
    <h2>Recent Activity</h2>

    <ng-select
      [items]="txFilters"
      [clearable]="false"
      [searchable]="false"
      bindValue="value"
      bindLabel="label"
      [(ngModel)]="_activeTxFilter"
      (change)="setActiveTxFilter($event)">
    </ng-select>
  </div>

  <div class="events-items">
    @for (event of ((events$ | async)); track event.tokenId) {
      <a
        [routerLink]="['/details', event.tokenId]"
        [href]="'/details/' + event.tokenId"
        class="event-item"
        [class]="event.type | lowercase">

        <div class="image-wrapper">
          <img
            [lazyLoad]="dataSvc.staticUrl + '/images/phunk' + (event.tokenId | tokenIdParse) + '.svg'"
            [defaultImage]="'assets/loadingphunk.png'"
            width="160"
            height="160"
          />
        </div>

        <div class="labels-wrapper">

          <div class="token-id">#{{ event.tokenId }}</div>

          <div class="label">
            <div>{{ labels[event.type] }}</div>

            @if (
              event.toAddress && (
                event.type === 'transfer'
                || event.type === 'created'
              )
            ) {
              <app-address
                [address]="event.toAddress">
              </app-address>
            }

            @if (event.value !== '0' && event.type !== 'transfer') {
              <span class="value">
                Ξ{{ event.value | weiToEth }}
                ({{ ((event.value | weiToEth) * (+event.usd || (usd$ | async) || 0)) | currency }})
              </span>
            }

            <div class="date">
              {{ event.blockTimestamp | timeago : true }}
            </div>
          </div>
        </div>
      </a>
    } @empty {
      @for (i of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]; track i) {
        <span class="event-item">
          <div class="image-wrapper placeholder">
            <img
              [lazyLoad]="'assets/loadingphunk.png'"
              [defaultImage]="'assets/loadingphunk.png'"
              width="160"
              height="160"
            />
          </div>
        </span>
      }
    }
  </div>
</section>
