@if (txn) {
  @if ((collections$ | async); as collections) {
    <div
      class="txn-item {{ txn.type }} {{ txn | notifText : collections : 'class' }}"
      [class.is-menu]="isMenu">

      @if (dismissible) {
        <button class="dismiss" (click)="dismiss(txn)">x</button>
      }

      @if (txn.isBatch && txn.hashIds) {
        <div class="batch-image">
          @for (hashId of txn.hashIds; track hashId) {
            <app-phunk-image [color]="txn.type === 'event'" [hashId]="hashId" />
          }
        </div>
      } @else if (txn.hashId) {
        <a class="single-image" [routerLink]="['/', 'details', txn.hashId]">
          <app-phunk-image [color]="txn.type === 'event'" [hashId]="txn.hashId" />
        </a>
      } @else {
        <div class="single-image">
          <img src="/assets/chat-image.png" alt="">
        </div>
      }

      <div class="txn-info">
        <h4 [innerHTML]="txn | notifText : collections : 'title'"></h4>

        @if (txn.type === 'chat' && txn.chatAddress) {
          <p>
            from <app-address [address]="txn.chatAddress" />
          </p>
        } @else {
          <p [innerHTML]="txn | notifText : collections : 'body'"></p>
        }

        <div class="footer">
          @if (txn.type === 'chat' && txn.chatAddress) {
            <a href="#">View message</a>
          }

          @if (txn.hash) {
            <a class="hash" [href]="env.explorerUrl + '/tx/' + txn.hash" target="_blank">
              <app-address [address]="txn.hash"></app-address>
              <ng-template [ngTemplateOutlet]="externalIcon"></ng-template>
            </a>
          }

          @if (txn.type === 'error') {
            <span class="error">{{ txn.detail.shortMessage || txn.detail.message || txn.detail }}</span>
          }

          <!-- @if (!dismissible) {
            <div class="timestamp">{{ txn.timestamp | timeago : true }}</div>
          } -->
        </div>
      </div>
    </div>
  }
}

<ng-template #externalIcon>
  <svg height="9" viewBox="0 0 9 9" width="9" xmlns="http://www.w3.org/2000/svg"><path d="m3 0v1.5h-1.5v6h6v-1.5h1.5v3h-9v-9zm1.5 4.5v1.5h-1.5v-1.5zm1.5 0h-1.5v-1.5h1.5v-1.5h-1.5v-1.5h4.5v4.5h-1.5v-1.5h-1.5z" fill="#ff03b4" fill-rule="evenodd" /></svg>
</ng-template>
