pagination-controls {
  pagination-template {

    .ngx-pagination {

      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      margin: 0;

      a {
        padding: 0;
        margin: 0;
        background: none;
        color: rgba(var(--text-color), 1);

        &:hover {
          background: none;
        }
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0;
        margin: 0;
        // border-radius: 2rem;
        background: none;

        font-size: 1.4rem;
        font-weight: 600;

        > span,
        > a {
          padding: .5rem 1rem;

          &:before,
          &:after {
            display: none !important;
          }
        }

        &.pagination-previous,
        &.pagination-next {
          // display: block;
          padding: 0;
          // border-radius: 2rem;
        }

        &.current {
          padding: 0;
          margin: 0;
          background: none;
          background-color: rgba(var(--pink), 1);

          font-weight: 700;
        }

        &.disabled {
          opacity: .5;
        }

        &:before,
        &:after {
          display: none !important;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    pagination-template {
      .ngx-pagination {
        justify-content: center;
        width: 100%;
      }
    }
  }
}