<section
  class="events-wrapper"
  *ngIf="(events$ | async) as recent; else eventsPlaceholder">

  <div class="events-header">
    <h2>Recent Transactions</h2>

    <ng-select
      [items]="txFilters"
      [clearable]="false"
      [searchable]="false"
      bindValue="value"
      bindLabel="label"
      [(ngModel)]="_activeTxFilter"
      (change)="setActiveTxFilter($event)">
    </ng-select>
  </div>

  <div class="events-items">
    <a
      [routerLink]="['/details', event.phunkId]"
      [href]="'/details/' + event.phunkId"
      class="event-item"
      [class]="event.type | lowercase"
      *ngFor="let event of recent; trackBy: trackByFn;">

      <div class="image-wrapper">
        <img
          [lazyLoad]="dataSvc.staticUrl + '/images/phunk' + (event.phunkId | tokenIdParse) + '.svg'"
          [defaultImage]="'assets/loadingphunk.png'"
          width="160"
          height="160"
        />
      </div>

      <div class="labels-wrapper">

        <div class="token-id">#{{ event.phunkId }}</div>

        <div class="label">
          <ng-container>

            <ng-container *ngIf="event.to && event.type === 'transfer'">
              {{ labels[event.type] }}
              <app-wallet-address
                [address]="event.to">
              </app-wallet-address>
            </ng-container>

            <ng-container *ngIf="event.from && event.type === 'sale'">
              Bought for Ξ{{ event.value | weiToEth }}
              ({{ ((event.value | weiToEth) * (+event.usd || (dataSvc.usd$ | async) || 0)) | currency }})
            </ng-container>

            <!-- <ng-container *ngIf="event.value !== '0'">
              Ξ{{ event.value | weiToEth }}
              ({{ ((event.value | weiToEth) * (+event.usd || (dataSvc.usd$ | async) || 0)) | currency }})
            </ng-container> -->
          </ng-container>

          <div class="date">
            {{ event.blockTimestamp | timeago : true }}
          </div>
        </div>
      </div>
    </a>
  </div>
</section>

<ng-template #topSalesPlaceholder>
  <section class="sales-wrapper">
    <h2>Largest Sales</h2>
    <div class="sales-items">
      <div class="sales-item" *ngFor="let i of [1,1,1,1,1,1]">
        <div class="image-wrapper placeholder">
          <img
            [lazyLoad]="'assets/loadingphunk.png'"
            [defaultImage]="'assets/loadingphunk.png'"
            width="160"
            height="160"
          />
        </div>

        <div class="labels-wrapper">
          <div class="token-id">#0000</div>
          <div class="label">Loading...<br />&nbsp;</div>
        </div>
      </div>
    </div>
  </section>
</ng-template>

<ng-template #eventsPlaceholder>
  <section class="events-wrapper">
    <h2>Recent Transactions</h2>
    <div class="events-items">
      <div class="event-item" *ngFor="let i of [1,1,1,1,1,1,]">
        <div class="image-wrapper placeholder">
          <img
            [lazyLoad]="'assets/loadingphunk.png'"
            [defaultImage]="'assets/loadingphunk.png'"
            width="160"
            height="160"
          />
        </div>

        <div class="labels-wrapper">
          <div class="token-id">#0000</div>
          <div class="label">Loading...<br />&nbsp;</div>
          <div class="date">&nbsp;</div>
        </div>
      </div>
    </div>
  </section>
</ng-template>
