@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: block;
}

.breadcrumb {
  display: flex;
  align-items: center;

  padding: 1.5rem 1rem;
  background-color: rgba(var(--dark-text), .1);

  .inner {
    padding: 0 10rem;

    .pfp-options-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem 2rem;

      .pfp-options {
        display: flex;
        align-items: center;
      }

      .download-pfp {

      }
    }

    .crumbs-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .crumbs {
        a {
          padding: 0 1rem;

          font-weight: 300;
          font-size: 1.8rem;
          color: rgba(var(--highlight), 1);
          text-decoration: none;
        }

        .number {
          font-size: 1.8rem;
          padding-left: .5rem;
          padding: 0 1rem;
        }
      }

      .save-pfp {
        button {
          background: none;
          padding: 0 1rem;
          margin: 0;
          color: rgba(var(--highlight), 1);
          font-weight: 700;
          font-size: 1.4rem;
        }
      }
    }
  }
}

.image-wrapper {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 50rem;
  background-color: rgba(var(--highlight), 1);

  img {
    width: 31.2rem;
    height: 31.2rem;
    image-rendering: pixelated;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--background), .2);

  @include trans($duration: .2s);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 16rem;

  backdrop-filter: blur(.25rem);

  .modal {
    position: relative;
    width: 100%;
    max-width: 50rem;

    padding: 3rem;

    background-color: rgba(var(--background), 1);
    box-shadow: 0 3rem 10rem 0 rgba(var(--black), .25);

    .punk-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        padding-bottom: 2rem;
      }
    }

    .toggle-wrapper {
      display: flex;
      align-items: center;

      .border-toggle {
        display: flex;
        align-items: center;
      }

      .color-toggle {
        display: flex;
        align-items: center;
      }

      .label {
        font-size: 1.4rem;
        font-weight: 700;

        // width: 11rem;
        text-align: right;
        padding-right: 1rem;
      }

      .toggle {
        width: 4.8rem;
        height: 3rem;
        border: .3rem solid rgba(var(--highlight), 1);
        padding: .3rem;

        div {
          width: 1.8rem;
          height: 1.8rem;
          background-color: rgba(var(--highlight), 1);
        }

        &.on {
          div {
            transform: translate(1.8rem, 0);
          }
        }
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
