:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colon {
  font-size: 2.6rem;
  padding: 0 0 0 .25rem;
}

.section {
  position: relative;
  transform: translateX(.25rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .label {
    position: absolute;
    bottom: -1.25rem;
    left: .25rem;

    color: rgba(var(--white), .75);
    font-size: 1rem;
  }

  .value {
    display: flex;
    align-items: center;
    justify-content: center;

    .digit {
      // box-shadow: 0 0 0 1px rgba(var(--text-color), 1);

      width: 2.2rem;
      height: 2.6rem;

      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;

      font-size: 2.6rem;
      text-align: center;
      line-height: 1;
      font-weight: 400;
    }
  }
}
