@if (days() !== '00') {
  <div class="section days">

    <div class="label">day</div>
    <div class="value">
      @for (digit of days(); track i; let i = $index) {
        <div class="digit">{{ digit }}</div>
      }
    </div>
  </div>

  <div class="colon">:</div>
}

<div class="section hours">
  <div class="label">hr</div>
  <div class="value">
    @for (digit of hours(); track i; let i = $index) {
      <div class="digit">{{ digit }}</div>
    }
  </div>
</div>

<div class="colon">:</div>

<div class="section minutes">
  <div class="label">min</div>
  <div class="value">
    @for (digit of minutes(); track i; let i = $index) {
      <div class="digit">{{ digit }}</div>
    }
  </div>
</div>

<div class="colon">:</div>

<div class="section seconds">
  <div class="label">sec</div>
  <div class="value">
    @for (digit of seconds(); track i; let i = $index) {
      <div class="digit">{{ digit }}</div>
    }
  </div>
</div>
