:host {
  display: flex;
}

div {
  position: relative;

  span {
    &.label {
      position: absolute;
      bottom: -1.5rem;
      left: .25rem;

      color: rgba(var(--text-color), .75);
      font-size: 1rem;
    }
  
    &.value {}
  }
}