@import 'abstracts/variables';
@import 'abstracts/mixins';

h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

.overall-stats {
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;

    .period-select-wrapper {

      ng-select {
        min-width: 14rem;
      }
    }
  }

  .stats-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 14rem;
    padding: 1rem 0;

    .label {
      font-size: 1.8rem;
      font-weight: 400;
      color: rgba(var(--text-color), 1);
      padding-bottom: .5rem;
    }

    .value {
      font-size: 1.8rem;
      font-weight: 700;
      color: rgba(var(--text-color), 1);
    }

    // > * {
    //   border: 1px solid red;
    // }

    .floor {
      .value {
        color: rgba(var(--highlight), 1);
      }
    }

    .volume {
      .value {
        color: rgba(var(--base-color), 1);
      }
    }

    .sales {}

    .owners {
      .value {
        .plus {
          color: rgba(var(--highlight), 1);
          font-size: 1.4rem;
        }
      }
    }

    .period-select-wrapper {
      // max-width: 20rem;
      display: flex;
      justify-content: flex-end;

      ng-select {
        min-width: 14rem;
      }
    }
  }

  @media (max-width: $mobile) {

    .stats-wrapper {

      // display: flex;
      // flex-direction: column;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;

      .label {
        font-size: 1.6rem;
      }

      .value {
        font-size: 1.6rem;
      }

      .floor{
        padding-bottom: 2rem;
      }

      .period-select-wrapper {
        justify-content: flex-start;
        padding-top: 2rem;

        grid-column: 1 / span 2;
        grid-row: 3;

        ng-select {
          min-width: 100%;
        }
      }
    }
  }
}
