@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {

  .backdrop {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--highlight), .5);

    @include trans($duration: .2s);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .modal {
    position: fixed;
    top: 16rem;
    left: 50%;
    z-index: 1002;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    width: 100%;
    max-height: 100%;
    max-width: 60rem;

    padding: 3rem;

    background-color: rgba(var(--background), 1);
    box-shadow: 0 3rem 10rem 0 rgba(var(--black), .25);

    overflow: scroll;

    transform: translate(-50%, 0);
  }

  h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;

    img {
      margin-right: 1rem;
    }
  }

  .p-wrapper {
    line-height: 1.5;
    font-weight: 700;

    .error {
      color: rgba(var(--highlight), 1);
    }
  }

  .close-modal {
    position: absolute;
    top: 0;
    right: 0;

    font-family: $secondary-font-stack;
  }

  &.active {
    .backdrop {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    .modal {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &.subtle {
    .backdrop {
      display: none;
    }

    .modal {
      background-color: rgba(var(--highlight), 1);
      color: rgba(var(--background), 1);
    }
  }

  &.sidebar {
    .backdrop {
      display: none;
    }

    .modal {
      max-width: 36rem;
      top: calc(var(--header-height));
      transform: translate(calc(-50% + (var(--max-width) / 2) - 21rem), 0);
    }
  }

  @media (max-width: $mobile) {
    padding-top: 0;

    .modal {
      width: calc(100% - 4rem);
      top: var(--header-height);
      left: 2rem;
      transform: translate(0, 0);
    }

    &.sidebar {
      .modal {
        max-width: calc(100% - 4rem);
        transform: translate(0, 0);
      }
    }
  }
}
