<form [formGroup]="phunkBox" (ngSubmit)="onSubmit($event)">
  <div class="input-wrapper">
    <input
      type="text"
      [placeholder]="phunkBoxError ? 'Bad input. Try again' : 'Search: 0x, ens or Ethscription ID'"
      formControlName="addressInput"
      [class.error]="phunkBoxError"
      [class.disabled]="phunkBoxLoading"
    />
  </div>

  @if (phunkBoxLoading) {
    <button>
      <img src="/assets/loader-{{ theme$ | async }}.gif" width="20" height="20" />
    </button>
  } @else {
    <button i18n type="submit">Go</button>
  }
</form>
