@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: block;
}

form {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  max-width: 60rem;

  padding-right: 5rem;

  button.clear,
  button.submit,
  button.loader {
    position: absolute;
    top: 0;
    right: 0;

    font-family: $secondary-font-stack;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
    justify-content: center;

    width: 5rem;
    height: 100%;
  }

  .input-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    width: 100%;

    ng-select {
      width: 100%;
      max-width: 60rem;
    }

    input {
      width: 100%;
      max-width: 60rem;
      height: 4.3rem;

      background-color: rgba(var(--black), .1);

      font-family: $secondary-font-stack;
      font-size: 1.4rem;
      color: rgba(var(--black), 1);
      border-radius: 0;

      font-weight: normal;

      padding-right: 5rem;

      &::placeholder {
        font-family: $secondary-font-stack;
        font-size: 1.2rem;
        font-weight: normal;
        transform: translateY(-1px);
        color: rgba(var(--black), .25);
      }

      &.disabled {
        opacity: .5;
        pointer-events: none;
      }

      &.error {
        border-color: rgba(var(--pink), 1);
        // box-shadow: inset 0 0 0 .3rem rgba(var(--pink), 1);

        &::placeholder {
          color: rgba(var(--pink), 1);
        }
      }

      &:focus {
        &::placeholder {
          color: rgba(var(--black), .5);
        }

        &.error {

          &::placeholder {
            color: rgba(var(--pink), 1);
          }
        }
      }
    }

    .clear {
      background: none;
      color: rgba(var(--black), 1);
    }

    img {
      margin-left: 1rem;
    }

    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;

      width: 100%;
      max-width: 60rem;
      padding: 0 0 .5rem;

      background-color: rgba(var(--bid-color), 1);

      display: flex;
      flex-direction: column;

      font-family: $secondary-font-stack;

      button {
        font-family: $secondary-font-stack;
      }

      .dropdown-header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: .5rem 1rem;
        height: 3rem;

        h5 {
          font-size: 1rem;
          font-weight: normal;
          color: rgba(var(--white), .75);
          padding: 0;
          margin: 0;
        }

        button {
          position: static;
          background: none;
          font-weight: normal;
          font-size: 1rem;

          &.close {
            padding: .25rem;
            width: auto;
          }
        }
      }

      .item {
        cursor: pointer;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        font-size: 1.2rem;

        display: grid;
        grid-template-columns: 1fr 3rem;
        align-items: center;

        .value {
          width: 100%;
          padding: .5rem 1rem;

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .remove {
          text-align: center;
          padding: .25rem;
          background-color: rgba(var(--black), .1);
        }
      }
    }
  }

  @media (max-width: $mobile) {
    max-width: 100%;

    .input-wrapper {
      input {
        max-width: 100%;
        font-size: 1.6rem;
      }
    }
  }
}
