@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  font-family: $secondary-font-stack;
  display: block;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;

  pointer-events: none;

  .inner {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 3rem;
    height: var(--header-height);

    .logo {
      width: 26rem;
      display: flex;
      align-items: center;

      pointer-events: all;

      svg {
        path {
          // fill: rgba(var(--pink), 1);
        }
      }
    }

    .user-tools {
      display: flex;
      align-items: center;

      pointer-events: all;

      .connect-menu {
        display: flex;
        align-items: center;

        button {
          color: rgba(var(--header-highlight), 1);
          background-color: rgba(var(--header-text), 1);

          &.connect {
            font-family: $secondary-font-stack;
            // height: 4rem;
            font-size: 1.4rem;
            font-weight: 400;

            margin-left: 2rem;
          }

          &.menu {
            app-wallet-address {
              font-family: $secondary-font-stack;
              font-size: 1.4rem;
              font-weight: 400;
            }

            .arrow {
              display: flex;
              align-items: center;
              justify-content: center;

              width: 2rem;
              height: 2rem;

              margin-left: .5rem;

              svg {
                width: 1.3rem;
                height: 1.3rem;
                path {
                  fill: rgba(var(--header-text), 1);
                }
              }
            }
          }

          &.active {
            .arrow {
              svg {
                transform: rotate(180deg);
              }
            }
          }
        }
      }

      .theme-switcher {
        padding-left: 2rem;

        button {
          display: flex;
          align-items: center;
          justify-content: center;

          background: none;
          padding: 0;

          width: 2.4rem;
          height: 2.4rem;

          svg {
            transform: rotate(180deg);
          }

          &.light {
            svg {
              transform: rotate(0deg);
            }
          }

          &.dark {
            svg {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  @media (max-width: $mobile) {
    .inner {
      height: calc(var(--header-height) / 1.5);
      padding: 0 1.5rem;

      .logo {
        overflow: hidden;
        width: 3rem;

        svg {
          overflow: visible;
          width: 20rem;

          path {
            &#wordmark {
              // display: none;
            }
          }
        }
      }

      .user-tools {
        .connect-menu {
          position: relative;
          // display: flex;
          // flex-direction: column-reverse;

          a {
            position: absolute;
            top: 100%;
            right: 0;

            app-wallet-address {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
