#ENV
NODE_ENV="development"

# Local
SUPABASE_URL=
SUPABASE_SERVICE_ROLE=

# Production (only useful when NODE_ENV is production)
SUPABASE_URL_PROD=
SUPABASE_SERVICE_ROLE_PROD=


####################################
## (Can override in network .env) ##
####################################

# PORT
PORT=3003

# FEATURES
QUEUE=1
BRIDGE=0
DISCORD=0
TWITTER=0
TX_POOL=0
MINT=0
