@use '@scss/abstracts/variables' as *;
@use '@scss/abstracts/mixins' as *;

:host {
  display: block;

  font-family: var(--secondary-font-stack);
}

.bid-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .bid-info-item {
    padding-bottom: 2rem;

    .label {
      font-size: 1rem;
      padding-bottom: .5rem;
      color: rgba(var(--white), .5);
      font-weight: 500;
    }

    .value {
      color: rgba(var(--white), 1);
      font-size: 2.6rem;

      .eth-symbol {
        font-weight: 900;
        padding-right: .25rem;
      }
    }

    &.time-remaining {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &.current-bid {
      width: 100%;
      max-width: 11rem;
    }
  }
}

.form-wrapper {
  position: relative;
  padding: 1rem 0;

  overflow: hidden;

  .auction-complete {
    padding: 1rem 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
      padding: 0;
      margin: 0;
      font-size: 1.4rem;
      font-weight: 400;
      color: rgba(var(--white), .75);
    }
  }

  .connect {
    z-index: 2;

    button {
      font-size: 1.4rem;
    }
  }

  .form {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    background-color: rgba(var(--background), 1);

    .input-wrapper {
      position: relative;
      flex: 1;

      input {
        height: 4.6rem;
        padding: 0 1.5rem;

        font-family: var(--secondary-font-stack);
        font-weight: 400;
        font-size: 1.6rem;

        &::placeholder {
          font-size: 1.4rem;
        }
      }

      .info {
        position: absolute;
        z-index: 99;
        top: 1rem;
        right: 1rem;

        svg {
          display: block;
        }
      }
    }

    button[type="submit"] {
      justify-content: center;
      padding: 1rem 2rem;

      background-color: rgba(var(--base-color), 1);
      color: rgba(var(--background), 1);

      font-family: var(--secondary-font-stack);
      font-weight: 400;
      font-size: 1.2rem;
    }
  }
}

.error {
  position: relative;
  z-index: 99;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem 0;

  text-align: center;
  font-size: 1.2rem;
  color: rgba(var(--black), 1);
  font-weight: 400;
  word-break: break-all;

  background-color: rgba(var(--magma), 1);

  button {
    position: absolute;
    top: 0;
    right: 0;

    font-family: var(--secondary-font-stack);
    font-weight: normal;
    color: rgba(var(--black), 1);

    background-color: transparent;
  }

  a {
    display: flex;
    align-items: center;
    padding: .5rem;

    color: rgba(var(--black), 1);

    svg {
      margin-left: .5rem;
    }
  }

  &.active {
    display: flex;
  }
}
