@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: flex;
  justify-content: center;

  position: fixed;
  z-index: 990;
  top: 0;
  left: 0;

  width: 100%;
  height: var(--billboard-height);
  transform: translateY(-100%);

  background-color: rgba(var(--bid-color), .75);
  padding-top: var(--header-height);

  font-family: $secondary-font-stack;
  color: rgba(var(--white), 1);

  backdrop-filter: blur(1rem);

  @media (max-width: $mobile) {
    height: 100%;

    overflow-y: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.inner {
  position: relative;
  display: grid;
  grid-template-columns: calc(70% - 6rem) 30%;
  grid-template-rows: 1fr auto;
  column-gap: 6rem;
  row-gap: 1rem;

  height: 100%;

  grid-template-areas: 'sections user-actions'
                       'sections notifications';

  .wallet-info {
    grid-area: wallet-info;
  }

  .user-actions {
    grid-area: user-actions;

    // padding-top: 1rem;
    // border-top: .2rem solid rgba(var(--white), .1);

    button {
      width: 100%;
      margin-bottom: .5rem;

      font-size: 1.2rem;
      font-weight: normal;
      font-family: $secondary-font-stack;

      background-color: rgba(var(--background), 1);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .notifications-wrapper {
    grid-area: notifications;
    padding-top: 1rem;

    overflow-y: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    h3 {}

    .no-activity {
      padding: 0;
      margin: 0;
      font-size: 1.2rem;
    }

    .notifications {}
  }

  .sections {
    grid-area: sections;

    overflow-y: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    section {
      padding-top: 1rem;
      padding-bottom: 3rem;

      p {
        font-size: 1.4rem;
        font-weight: normal;

        padding-bottom: 1rem;
        margin: 0;
      }

      &.owned {
        grid-area: owned;
      }

      &.bids {
        grid-area: bids;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .stats {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    &.owned-stats {
      grid-area: owned-stats;
    }

    &.bids-stats {
      grid-area: bids-stats;
    }

    .stat {
      display: flex;
      flex-direction: column;
      padding-right: 1rem;

      .label {
        font-size: 1.2rem;
      }

      .value {
        padding-right: .5rem;
        font-size: 3rem;
      }
    }
  }

  @media (max-width: $mobile) {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 'user-actions'
                         'notifications'
                         'sections';
    grid-gap: 0;

    .notifications-wrapper {
      height: 30rem;
    }

    .sections {
      overflow-y: auto;
    }
  }
}

h3 {
  font-size: 1.4rem;
  font-weight: normal;
  padding-bottom: 1rem;

  a {}
}
