<div #menuInner class="inner" [style]="{ 'opacity': '0' }" waIntersectionObserver waIntersectionThreshold="0.5">

  @if (address$ | async; as address) {

    <!-- <div class="sections-wrapper">
      @if ((listedPhunks$ | async); as listed) {
        <section class="owned">
          <p i18n>You own <span class="highlight">{{ stats.owned | number }}</span> EtherPhunks, <a class="highlight" [routerLink]="['/', 'owned']" [href]="'/owned'" [queryParams]="{ address }">view all.</a></p>

          <p i18n>You have <span class="highlight">{{ stats.listed | number }}</span> EtherPhunks listed for sale.</p>

          @if (menuActive$ | async) {
            <app-phunk-grid
              [phunkData]="listed || []"
              [viewType]="(isMobile$ | async) ? 'menu' : 'market'"
              [showLabels]="false"
              [limit]="24"
              [marketType]="'owned'"
              [sort]="'price-low'"
            />
          }
        </section>
      }

      @if ((userOpenBids$ | async); as bids) {
        <section class="bids">
          <p i18n>You have <span class="highlight">{{ stats.bids | number }}</span> open bids</p>

          <app-phunk-grid
            [phunkData]="bids || []"
            [viewType]="(isMobile$ | async) ? 'menu' : 'market'"
            [showLabels]="false"
            [limit]="24"
            [marketType]="'bids'"
          />
        </section>
      }
    </div> -->

    <div class="user-wrapper">
      <div class="user-actions">
        <button
          (click)="withdraw()"
          [class.disabled]="(hasWithdrawal$ | async) === 0">

          <span>Withdraw Funds</span>
          <span>({{ (hasWithdrawal$ | async) | weiToEth }} ETH)</span>
        </button>
        <button (click)="disconnect()">Disconnect</button>
      </div>

      @if ((transactions$ | async); as txns) {
        <div class="notifications-wrapper">
          <h3>Activity</h3>
          <div class="notifications">
            @if (txns.length) {
              @for (txn of txns; track txn) { <app-notif [txn]="txn" [dismissible]="false" /> }
            } @else {
              <p class="no-activity">No recent activity.</p>
            }
          </div>
        </div>
      }
    </div>

    <div class="leaderboard">
      <app-leaderboard />
    </div>
  }
</div>
