<div
  #menuInner
  class="inner"
  [style]="{ 'opacity': '0' }"
  waIntersectionObserver waIntersectionThreshold="0.5">

  <ng-container *ngIf="address$ | async as address">
    <!-- <div class="wallet-info">
      <app-wallet-address [address]="address" [ens]="false" />
    </div> -->

    <div class="sections">
      <section
        class="owned"
        *ngIf="(listedPhunks$ | async) as listed">

        <p i18n>You own <span class="highlight">{{ stats.owned | number }}</span> EtherPhunks,
          <a
            class="highlight"
            [routerLink]="['/', 'owned']"
            [href]="'/owned'"
            [queryParams]="{ address }">

            view all.
          </a>
        </p>

        <p i18n>You have <span class="highlight">{{ stats.listed | number }}</span> EtherPhunks listed for sale.</p>

        <app-phunk-grid
          *ngIf="menuActive$ | async"
          [phunkData]="listed || []"
          [viewType]="(isMobile$ | async) ? 'menu' : 'market'"
          [showLabels]="false"
          [limit]="24"
          [marketType]="'owned'"
          [sort]="'price-low'"
        />
      </section>

      <section
        class="bids"
        *ngIf="(userOpenBids$ | async) as bids">

        <p i18n>You have <span class="highlight">{{ stats.bids | number }}</span> open bids</p>

        <app-phunk-grid
          [phunkData]="bids || []"
          [viewType]="(isMobile$ | async) ? 'menu' : 'market'"
          [showLabels]="false"
          [limit]="24"
          [marketType]="'bids'"
        />
      </section>
    </div>

    <div class="user-actions">
      <button (click)="disconnect()">Disconnect</button>
      <button (click)="withdraw()">Withdraw Funds</button>
    </div>

    <div
      class="notifications-wrapper"
      *ngIf="(transactions$ | async) as txns">

      <h3>Activity</h3>

      <div class="notifications" *ngIf="txns.length else none">
        <ng-container *ngFor="let txn of txns">
          <app-notif [txn]="txn" [dismissible]="false" />
        </ng-container>
      </div>
      <ng-template #none>
        <p class="no-activity">No recent activity.</p>
      </ng-template>
    </div>
  </ng-container>
</div>
