@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: flex;
  justify-content: center;

  position: fixed;
  z-index: 990;
  top: 0;
  left: 0;

  width: 100%;
  height: var(--billboard-height);
  transform: translateY(-100%);

  background-color: rgba(var(--bid-color), .75);
  padding-top: var(--header-height);

  // font-family: $secondary-font-stack;
  color: rgba(var(--white), 1);

  backdrop-filter: blur(1rem);

  @media (max-width: $mobile) {
    height: 100%;

    overflow-y: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.inner {
  position: relative;
  display: grid;
  grid-template-columns: calc(70% - 6rem) 30%;
  column-gap: 6rem;
  row-gap: 1rem;
  max-height: 100%;

  grid-template-areas: 'sections user-wrapper';
  overflow: hidden;
  padding-top: 3rem;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 3rem;

    width: calc(100% - 6rem);
    height: .3rem;
    background-color: rgba(var(--white), .15);
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }

  .wallet-info {
    grid-area: wallet-info;
  }

  .sections-wrapper {
    grid-area: sections;

    overflow-y: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    section {
      padding-top: 1rem;
      padding-bottom: 3rem;

      p {
        font-family: $primary-font-stack;
        font-size: 1.6rem;
        font-weight: 500;

        padding: 0 0 1rem;
        margin: 0;
      }

      &.owned {
        grid-area: owned;
      }

      &.bids {
        grid-area: bids;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .user-wrapper {
    grid-area: user-wrapper;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-height: 100%;
    overflow: hidden;

    .user-actions {
      button {
        width: 100%;
        margin-bottom: .5rem;

        font-size: 1.2rem;
        font-weight: normal;
        font-family: $secondary-font-stack;

        background-color: rgba(var(--background), 1);

        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .notifications-wrapper {
      padding-top: 1rem;
      max-height: 100%;
      overflow: hidden;

      .no-activity {
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
      }

      .notifications {
        padding-bottom: 3rem;
        max-height: 100%;
        overflow-y: auto;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;

        p {
          font-family: $secondary-font-stack;
          font-size: 1.2rem;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .stats {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    &.owned-stats {
      grid-area: owned-stats;
    }

    &.bids-stats {
      grid-area: bids-stats;
    }

    .stat {
      display: flex;
      flex-direction: column;
      padding-right: 1rem;

      .label {
        font-size: 1.2rem;
      }

      .value {
        padding-right: .5rem;
        font-size: 3rem;
      }
    }
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-template-areas: 'sections' 'user-wrapper';

    .sections-wrapper {
      overflow: auto;
      height: auto;
    }
  }
}
