@use '@scss/abstracts/variables' as *;
@use '@scss/abstracts/mixins' as *;

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  margin-bottom: 4rem;

  .left {
    > a {
      background: none;
      padding: 0;

      font-family: var(--secondary-font-stack);
      font-size: 1.4rem;
      font-weight: normal;
      text-decoration: none;
      color: rgba(var(--highlight), 1);

      svg {
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;

        path {
          fill: rgba(var(--highlight), 1);
        }
      }
    }

    h1 {
      font-size: 4.8rem;
      font-weight: 700;
      padding: 1rem 0;
    }

    h2, h3 {
      font-size: 2rem;
      font-weight: 700;
      padding-bottom: 2rem;
    }

    h3 {
      font-size: 1.6rem;
    }

    h2 {
      display: flex;
      align-items: center;

      a {
        color: rgba(var(--highlight), 1);
        text-decoration: none;
        padding-left: .5rem;
      }
    }

    button {
      &.chat-button {
        background: none;
        padding: 0 1rem;

        svg {
          width: 2rem;
          height: 2rem;
          fill: rgba(var(--highlight), 1);
        }
      }
    }
  }

  .right {

  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    .left {
      h1 {
        font-size: 3rem;
      }
    }
  }
}
