<div class="header-wrapper">
  <div class="left">
    <a class="button" [routerLink]="['/', 'curated', collection().slug]">
      <ng-template [ngTemplateOutlet]="prevIcon" />
      {{ collection().name }}
    </a>
    <h1 i18n>{{ marketTitles[marketType()].replace('%collectionName%', collection().singleName) }}</h1>

    @if ((routeParamAddress$ | async); as address) {
      <h2>
        by
        <a [href]="env.explorerUrl + '/address/' + address" target="_blank">
          <app-address [address]="address" class="highlight" />
        </a>

        @if (
          ((address | lowercase) !== (walletAddress$ | async)) &&
          ((config$ | async)?.chat) &&
          (isChattable$ | async)
        ) {
          <button class="chat-button" (click)="createConversation(address)">
            <ng-template [ngTemplateOutlet]="chatIcon" />
          </button>
        }
      </h2>
    }

    <h3>Showing <span class="highlight">{{ phunkData().total | number }}</span> of {{ collection().supply | number }}</h3>
  </div>
</div>

<ng-template #prevIcon>
  <svg height="13" viewBox="0 0 8 13" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m5.203125 10.40625v2.5664062h2.6015625v-2.5664062zm-2.6015625-2.6015625v2.6015625h2.6015625v-2.6015625zm-2.6015625-2.6015625v2.6015625h2.6015625v-2.6015625zm2.6015625-2.6015625v2.6015625h2.6015625v-2.6015625zm2.6015625-2.6015625v2.6015625h2.6015625v-2.6015625z" fill="rgba(var(--text-color), 1)" /></svg>
</ng-template>

<ng-template #chatIcon>
  <svg height="9" viewBox="0 0 11 9" width="11" xmlns="http://www.w3.org/2000/svg"><path d="m1 7h1v1h-1z"/><path d="m2 6h1v1h-1z"/><path d="m1 5h1v1h-1z"/><path d="m0 4h1v1h-1z"/><path d="m0 3h1v1h-1z"/><path d="m0 2h1v1h-1z"/><path d="m1 1h1v1h-1z"/><path d="m2 0h1v1h-1z"/><path d="m10 5h-1v1h1z"/><path d="m9 6h-1v1h1z"/><path d="m8 7h-1v1h1z"/><path d="m7 7h-1v1h1z"/><path d="m11 4h-1v1h1z"/><path d="m11 3h-1v1h1z"/><path d="m11 2h-1v1h1z"/><path d="m10 1h-1v1h1z"/><path d="m9 0h-1v1h1z"/><path d="m3 0h1v1h-1z"/><path d="m4 0h1v1h-1z"/><path d="m5 0h1v1h-1z"/><path d="m6 0h1v1h-1z"/><path d="m7 0h1v1h-1z"/><path d="m0 8h1v1h-1z"/><path d="m1 8h1v1h-1z"/><path d="m2 8h1v1h-1z"/><path d="m3 8h1v1h-1z"/><path d="m4 8h1v1h-1z"/><path d="m5 7h1v1h-1z"/></svg>
</ng-template>
