<div class="curated-wrapper" [class.active]="(dropdownActive$ | async)">

  @let activeCollection = (activeCollection$ | async);

  <button class="curated-button" (click)="toggleDropdown()">

    @if (activeCollection; as collection) {
      @if (collection.image; as image) {
        <div class="image-wrapper">
          <img [src]="image" />
        </div>
      }
      <span>{{ collection.name }}</span>
    } @else {
      <div class="placeholder">
        <span>Loading...</span>
      </div>
    }

    <div class="arrow">
      <ng-template [ngTemplateOutlet]="arrowIcon" />
    </div>
  </button>

  <div class="curated-dropdown">
    @for (collection of (collections$ | async); track collection.slug) {
      <button
        (click)="buildCollectionRoute(collection.slug)"
        [class.active]="activeCollection?.slug === collection.slug"
        [class.admin]="!collection.active">

        <div class="image-wrapper">
          <img [src]="collection.image" />
        </div>

        <span>{{ collection.name }}</span>
      </button>
    }
  </div>
</div>

<ng-template #arrowIcon>
  <svg height="15" viewBox="0 0 25 15" width="25" xmlns="http://www.w3.org/2000/svg"><path d="m10 5v5h5v5h-5v-5h-5v-5zm-5-5v5h-5v-5zm15 5v5h-5v-5zm5-5v5h-5v-5z"/></svg>
</ng-template>
