@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: block;
}

.image-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: var(--billboard-height);
  background-color: rgba(var(--highlight), 1);

  img,
  app-phunk-image {
    width: 31.2rem;
    height: 31.2rem;
    image-rendering: pixelated;
  }
}
