@if ((walletAddress$ | async); as address) {
  @if (phunk(); as phunk) {
    @if (phunk.isSupported && !disabled()) {

      <!-- Escrow actions (Send) -->
      @if ((config$ | async)?.auctions && !phunk.isAuctioned) {
        @if ((phunk.owner | lowercase) === (address | lowercase)) {
          <button class="send-to-auction-button" (click)="auctionAction()" [class.active]="actionsState().auction">
            <span>Send to auction</span>
            <ng-container *ngTemplateOutlet="pending; context:{ $implicit: 'sendToAuction' }" />
          </button>

          @if (actionsState().auction) {
            <ng-container *ngTemplateOutlet="auctionForm; context:{ $implicit: phunk }" />
          }
        }
      }

      <!-- Buy button -->
      @if (
        phunk.listing &&
        ((
          phunk.isEscrowed &&
          (phunk.prevOwner | lowercase) !== (address | lowercase)
        ) || (
          phunk.nft &&
          phunk.nft.owner !== address
        ))
      ) {
        <button class="buy" (click)="buyPhunk()">
          <span>Buy</span>
          <ng-container *ngTemplateOutlet="pending; context:{ $implicit: 'buyPhunk' }" />
        </button>
      }

      <!-- Sell (Ownership actions) -->
      @if (
        ((phunk.owner | lowercase) === (escrowAddress | lowercase) &&
        (phunk.prevOwner | lowercase) === (address | lowercase)) ||
        (phunk.owner | lowercase) === (address | lowercase) ||
        (phunk.nft && phunk.nft.owner === address)
      ) {
        <button class="sell" (click)="sellAction()" [class.active]="actionsState().sell">
          <span>Sell</span>
          <ng-container *ngTemplateOutlet="pending; context:{ $implicit: 'offerPhunkForSale' }" />
        </button>

        <!-- Sell Actions -->
        @if (actionsState().sell) {
          <ng-container *ngTemplateOutlet="sellForm; context:{ $implicit: phunk }" />
        }
      }

      <!-- Escrow actions (Send) -->
      @if (!phunk.isEscrowed && (phunk.owner | lowercase) === (address | lowercase)) {
        <button class="send-to-escrow" (click)="escrowAction()" [class.active]="actionsState().escrow">
          <span>Send to escrow</span>
          <ng-container *ngTemplateOutlet="pending; context:{ $implicit: 'sendToEscrow' }" />
        </button>

        @if (actionsState().escrow) {
          <ng-container *ngTemplateOutlet="escrowForm; context:{ $implicit: phunk }" />
        }
      }

      <!-- Escrow actions (Withdraw) -->
      @if (phunk.isEscrowed && (phunk.prevOwner | lowercase) === (address | lowercase)) {
        <button class="withdraw" (click)="withdrawPhunk()">
          <span>Withdraw from escrow</span>
          <ng-container *ngTemplateOutlet="pending; context:{ $implicit: 'withdrawPhunk' }" />
        </button>
      }

      <!-- Delist button -->
      @if (
        phunk.listing &&
        ((
          ((phunk.owner | lowercase) === (escrowAddress | lowercase) &&
          (phunk.prevOwner | lowercase) === (address | lowercase)) ||
          (phunk.nft?.owner === address)
        ) || (
          phunk.nft &&
          phunk.nft.owner === address
        ))
      ) {
        <button class="sell" (click)="phunkNoLongerForSale()">
          <span>Delist</span>
          <ng-container *ngTemplateOutlet="pending; context:{ $implicit: 'phunkNoLongerForSale' }" />
        </button>
      }

      <!-- Transfer -->
      @if ((phunk.owner | lowercase) === (address | lowercase)) {
        <button class="transfer" [class.active]="actionsState().transfer" (click)="transferAction()">
          <span>Transfer</span>
          <ng-container *ngTemplateOutlet="pending; context:{ $implicit: 'transferPhunk' }" />
        </button>

        <!-- Transfer actions -->
        @if (actionsState().transfer) {
          <ng-container *ngTemplateOutlet="transferForm; context:{ $implicit: phunk }" />
        }
      }

      <!-- Bridge button -->
      <!-- @if ((owner | lowercase) === (address | lowercase)) {
        <button class="bridge" [class.active]="bridgeActive" (click)="bridgePhunkAction()">
          <span>Bridge</span>
          <ng-container *ngTemplateOutlet="pending; context:{ $implicit: 'bridgePhunk' }" />
        </button>

        @if (bridgeActive) {
          <ng-container *ngTemplateOutlet="bridgeForm; context:{ $implicit: phunk }" />
        }
      } -->
    }

    @if (phunk.isSupported && !phunk.consensus && !(isCooling$ | async)) {
      <div class="notice">
        <p>This {{ phunk.collection?.singleName }} does not have consensus with one or more indexers. <span (click)="createConversation()">Contact support</span> to resolve this issue.</p>
      </div>
    }
  }
} @else {
  <!-- Connect wallet -->
  <button i18n (click)="web3Svc.connect()">
    Connect an Ethereum wallet to interact with this item
  </button>
}

<!-- Out links -->
@if (!phunk().isSupported) {
  <a
    class="button external-button"
    [href]="externalMarketUrl + '/ethscriptions/' + phunk().hashId"
    target="_blank">

    View on ethscriptions.com
  </a>
}

<!-- Auction Form -->
<ng-template #auctionForm let-phunk>
  <div class="form-wrapper auction">
    <ng-container *ngTemplateOutlet="cooldown; context:{ $implicit: phunk }" />

    <div class="form-group">
      <div class="row">
        <div class="auction-duration">
          <label i18n for="auction-duration">Auction Duration</label>
          <div class="input-group" [formGroup]="auctionDuration">
            <div class="input-item">
              <label for="auction-duration-days">Days</label>
              <input #auctionDurationDaysInput type="number" id="auction-duration" formControlName="days"  min="0" max="30" />
            </div>
            <div class="input-item">
              <label for="auction-duration-hours">Hours</label>
              <input #auctionDurationHoursInput type="number" id="auction-duration" formControlName="hours" min="0" max="23" />
            </div>
            <div class="input-item">
              <label for="auction-duration-minutes">Minutes</label>
              <input #auctionDurationMinutesInput type="number" id="auction-duration" formControlName="minutes" min="0" max="59" />
            </div>
          </div>

        </div>
      </div>
    </div>

    <button
      class="advanced-options-button"
      (click)="auctionAdvancedOptionsAction()"
      [class.active]="actionsState().auctionAdvancedOptions">

      Advanced Options
    </button>

    @if (actionsState().auctionAdvancedOptions) {
      <div class="form-group advanced-options-group">
        <div class="row row-2">
          <div class="auction-min-bid-increment-percentage">
            <label i18n for="auction-min-bid-increment-percentage">Bid Increment %</label>
            <input #auctionMinBidIncrementPercentageInput type="number" id="auction-min-bid-increment-percentage" [formControl]="auctionMinBidIncrementPercentage" />
          </div>

          <div class="auction-time-buffer">
            <label i18n for="auction-time-buffer">Time Buffer</label>
            <input #auctionTimeBufferMinutesInput type="number" id="auction-time-buffer" [formControl]="auctionTimeBufferMinutes" />
          </div>
        </div>
      </div>
    }

    <div class="form-actions">
      <button i18n type="reset" class="cancel" (click)="closeAuction()">Cancel</button>
      <button i18n class="sell" (click)="sendToAuction()">
        Send to Auction
      </button>
    </div>
  </div>
</ng-template>

<!-- Sell Form -->
<ng-template #sellForm let-phunk>
  <form class="form-wrapper">
    @if (!phunk.isEscrowed) {
      <ng-container *ngTemplateOutlet="cooldown; context:{ $implicit: phunk }" />
    }

    <div class="form-group">
      <!-- <div class="row row-2"> -->
        <!-- <div class="list-price"> -->
          <label i18n for="list-price">Asking Price</label>
          <input #sellPriceInput type="number" id="list-price" [formControl]="listPrice" />

          <!-- @if (listPrice.value && revShare.value) {
            <div class="sale-total">Upon sale you receive: Ξ{{ ((listPrice.value || 0) - ((listPrice.value || 0) * ((revShare.value || 0) / 100))) | number : '1.0-6' }}</div>
          } -->
        <!-- </div> -->
        <!-- <div class="rev-share">
          <label for="rev-share">
            <span>Rev Share</span>

            <div class="info-ind">?</div>
          </label>
          <div class="percent-input">
            <span>%</span>
            <input #revShareInput type="number" id="rev-share" [max]="100" [min]="0" step="0.1" [formControl]="revShare" />
          </div>

          @if (listPrice.value && revShare.value) {
            <div class="rev-total">
              Total: Ξ{{ ((listPrice.value || 0) * ((revShare.value || 0) / 100)) | number : '1.0-6' }}
            </div>
          }
        </div> -->
      <!-- </div> -->
    </div>

    <button
      class="advanced-options-button"
      (click)="privateSaleAction()"
      [class.active]="actionsState().privateSale">

      List Privately
    </button>

    @if (actionsState().privateSale) {
      <div class="form-group advanced-options-group">
        <label i18n for="list-to-address">Offer to Address</label>
        <input type="text" id="list-to-address" [placeholder]="'0x or ens'" [formControl]="listToAddress" role="presentation" autocomplete="off" />
      </div>
    }

    <div class="form-actions">
      <button i18n type="reset" class="cancel" (click)="closeListing()">Cancel</button>
      <button i18n type="submit" class="submit" (click)="submitListing()">Offer {{ phunk.singleName }}</button>
    </div>

    @if (!phunk.isEscrowed && !phunk.nft) {
      <p class="small">Offering your item for sale will send it to our contract to be held in escrow. You can withdraw it at any time.</p>
    }
  </form>
</ng-template>

<!-- Transfer Form -->
<ng-template #transferForm let-phunk>
  <form class="form-wrapper">
    <ng-container *ngTemplateOutlet="cooldown; context:{ $implicit: phunk }" />

    <div class="form-group">
      <label i18n for="transfer-address">Transfer to address</label>
      <input #transferAddressInput type="text" id="transfer-address" [formControl]="transferAddress"
        placeholder="0x or .ens" role="presentation" autocomplete="off" />
    </div>

    <div class="form-actions">
      <button i18n type="reset" class="cancel" (click)="closeTransfer()">Cancel</button>
      <button i18n type="submit" class="submit" (click)="transferPhunk()">Submit</button>
    </div>
  </form>
</ng-template>

<!-- Escrow Form -->
<ng-template #escrowForm let-phunk>
  <div class="form-wrapper">
    <ng-container *ngTemplateOutlet="cooldown; context:{ $implicit: phunk }" />

    <p i18n>Your {{ phunk.singleName }} must be held in escrow in order to be listed. <span class="small">While held in escrow, your Phunk will not show in your wallet on other apps/marketplaces.</span></p>

    <div class="form-actions">
      <button i18n type="reset" class="cancel" (click)="closeEscrow()">Cancel</button>
      <button i18n class="sell" (click)="sendToEscrow()">
        Send to Escrow
      </button>
    </div>
  </div>
</ng-template>

<!-- Bridge Form -->
<ng-template #bridgeForm let-phunk>
  <div class="form-wrapper">
    <ng-container *ngTemplateOutlet="cooldown; context:{ $implicit: phunk }" />

    <p i18n>Bridge your {{ phunk.singleName }} to Magma L2 for faster and cheaper transacting. You can unlock and bridge your {{ phunk.singleName }} back at any time.</p>

    <!-- <p><span class="small">You must own magma's native token in order to transact on the L2.</span> <a href="#">Click here to swap</a></p> -->

    <div class="form-actions">
      <button i18n type="reset" class="cancel" (click)="closeBridge()">Cancel</button>
      <button i18n class="sell" (click)="bridge()">
        Bridge
      </button>
    </div>
  </div>
</ng-template>

<!-- Pending 'spinner' -->
<ng-template #pending let-txFunction>
  @if (pendingTx$ | async; as tx) {
    @if (tx.function === txFunction) {
      <img src="/loader-dark.gif" width="15" height="15" alt="" />
    }
  }
</ng-template>

<!-- Cooldown overlay -->
<ng-template #cooldown let-phunk>
  @if ((isCooling$ | async) && !phunk.nft) {
    <div class="cooldown-wrapper">
      <p>{{ web3Svc.minCooldown }} Block cooldown</p>
      <img src="/loader-phunk.gif" width="40" height="40" alt="">
    </div>
  }
</ng-template>
