@use '@scss/abstracts/variables' as *;
@use '@scss/abstracts/mixins' as *;

:host {
  display: block;
  position: relative;
  padding: 2rem 0;

  &.disabled {
    pointer-events: none;
    opacity: .5;
    user-select: none;
  }
}

button,
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  width: 100%;
  max-width: 46rem;

  &.external-button {
    background: none;
    color: rgba(var(--background), 1);
    background-color: rgba(var(--highlight), 1);

    background-image: url('data:image/svg+xml;utf8,<svg height="15" viewBox="0 0 15 15" width="15" xmlns="http://www.w3.org/2000/svg"><path d="m0 15v-15h6v3h-3v6h3v3h6v-3h3v6zm9-9v3h-3v-3zm6-6v6h-3v-3h-3v-3z" fill="black" fill-rule="evenodd"/></svg>');
    background-size: 1.2rem;
    background-position: right 1rem center;
    background-repeat: no-repeat;
  }

  &.send-to-auction-button {
    background-color: rgba(var(--bid-color), 1);
    color: rgba(var(--highlight), 1);
  }

  &.advanced-options-button {
    background: none;
    border: .2rem solid rgba(var(--background), 1);
    color: rgba(var(--background), 1);

    font-size: 1.4rem;
    font-weight: 700;

    padding: .5rem 1rem;
    margin: 0;

    width: auto;
  }

  &.active {
    background: none;
    color: rgba(var(--highlight), 1);
    box-shadow: 0 .2rem 0 0 rgba(var(--highlight), 1);

    &.advanced-options-button {
      background: rgba(var(--background), 1);
      border: .2rem solid rgba(var(--background), 0);
      box-shadow: none;
      color: rgba(var(--highlight), 1);
    }
  }
}

.form-wrapper {
  position: relative;
  width: 100%;
  max-width: 46rem;
  padding: 1rem;
  margin: 0 0 1rem;

  background-color: rgba(var(--highlight), 1);
  color: rgba(var(--background), 1);

  p {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 600;

    a {
      font-size: 1.4rem;
      color: rgba(var(--background), 1);
    }

    .small {
      font-weight: 400;
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  input {
    color: rgba(var(--background), 1);
    background-color: rgba(var(--background), .1);

    &::placeholder {
      color: rgba(var(--background), .3);
    }
  }

  .form-group {
    .row {
      display: grid;
      width: 100%;

      > div {
        display: flex;
        flex-direction: column;

        &.list-price {
          position: relative;
        }
      }

      .input-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        .input-item {
          display: flex;
          flex-direction: column;
          width: 100%;

          label {
            font-size: 1.2rem;
            font-weight: 600;
            color: rgba(var(--background), 1);
          }

          input {
            width: 100%;
          }
        }
      }

      &-2 {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;

        .auction-min-bid-increment-percentage {
          grid-column: 1 / 2;
        }

        .auction-time-buffer {
          grid-column: 2 / 3;
        }
      }
    }

    &.advanced-options-group {
      padding: 2rem;
      margin-bottom: 1rem;

      background-color: rgba(var(--background), 1);
      color: rgba(var(--highlight), 1);

      label {
        color: rgba(var(--highlight), 1);
      }

      input {
        color: rgba(var(--highlight), 1);
        background-color: rgba(var(--dark-grey), 1);

        &::placeholder {
          color: rgba(var(--highlight), .5);
        }
      }
    }
  }

  .form-actions {
    button {
      // background-color: rgba(var(--pink), 1);
    }
  }
}

.cooldown-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(var(--highlight), .25);
  backdrop-filter: blur(.5rem);

  p {
    font-family: var(--secondary-font-stack);
    font-weight: normal;
    font-size: 1.2rem;
    text-align: right;
    max-width: 12rem;

    padding: 0 2rem 0 0;
    margin: 0;
  }
}

.notice {
  padding: 1rem;
  background-color: rgba(var(--bid-color), 1);
  color: rgba(var(--white), 1);
  max-width: 46rem;
  box-shadow: .3rem .3rem 0 0 rgba(var(--highlight), 1);

  margin-bottom: 2rem;

  .consensus {
    padding: 0;

    font-size: 1.4rem;
    font-weight: 600;

    a {
      color: rgba(var(--highlight), 1);
      font-weight: 700;
    }
  }
}
