// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$primary-font-stack: 'Montserrat', sans-serif !default;
$secondary-font-stack: 'Retro Computer', sans-serif !default;

:root {
  --header-height: 8rem;
  --billboard-height: 50rem;

  --max-width: 120rem;

  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --dark-grey: 23, 23, 23;

  --background: 255, 255, 255;
  --text-color: 0, 0, 0;
  --dark-text: 0, 0, 0;

  --header-text: 0, 0, 0;

  --pink: 255, 4, 180;
  --highlight: 195, 255, 0;

  --base-color: 195, 255, 0;
  --button-color: 255, 4, 180;

  --listed-color: 0, 255, 201;
  --bid-color: 158, 3, 255;
  --transferred-color: 2, 255, 100;
  --claimed-color: 195, 255, 0;
  --sale-color: 0, 255, 201;
  --escrow-color: 255, 230, 0;
}

$mobile: 800px;

$base-url: '/assets/' !default;
