<!-- <router-outlet></router-outlet> -->

<main>
  <h1>Ethereum Phunks</h1>
  <h2>Byte perfect flips of the onchain CryptoPunks</h2>
  <p class="small">These <strong>SVG</strong> images are meticulously sourced from the Cryptopunks data contract, located <a href="https://etherscan.io/address/0x16f5a35647d6f03d5d3da7b35409d65ba03af3b2" target="_blank"><strong>here</strong></a>. Each image then undergoes a <strong>sophisticated algorithmic transformation</strong>, manipulating each individual pixel to orchestrate an aesthetically captivating <strong>mirror image</strong>, thus birthing a uniquely exquisite <strong>Phunk</strong>.</p>

  <app-ethscribe />

  <p class="x-small center">Be Phree, Be Phunky. Phuck Yuga Labs 🖕</p>
  <p class="x-small center source">
    <a href="https://github.com/chopperdaddy/ethereumphunks.com" target="_blank">Source code</a>
  </p>
</main>
