<main>
  <div class="intro-wrapper">
    <h1>Ethereum Phunks</h1>
    <h2>Byte perfect flips of the onchain CryptoPunks</h2>
    <p class="small">These <strong>SVG</strong> images are meticulously sourced from the CryptoPunks data contract, located <a href="https://etherscan.io/address/0x16f5a35647d6f03d5d3da7b35409d65ba03af3b2" target="_blank"><strong>here</strong></a>. Each image then undergoes a <strong>sophisticated algorithmic transformation</strong>, manipulating each individual pixel to orchestrate an aesthetically captivating <strong>mirror image</strong>, thus birthing a uniquely exquisite <strong>Phunk</strong>.</p>
  </div>

  <app-ethscribe />

  <div class="post-wrapper">
    <p class="x-small center">By clicking "Ethscribe", you accept all risks associated with the use of this experimental app, including any loss of funds. The creators of ethereumphunks.com are not liable for any issues or damages that may arise from its use.<br /><br />Be Phree, Be Phunky. Phuck Yuga Labs 🖕</p>

    <p class="x-small center source">
      <a href="https://github.com/chopperdaddy/ethereumphunks.com" target="_blank">Source code</a>
    </p>
  </div>
</main>
