<!-- <router-outlet></router-outlet> -->

<main>
  <h1>Ethereum Phunks</h1>
  <h2>Byte perfect flips of the onchain cryptopunks</h2>
  <p class="small">These <strong>SVG</strong> images are meticulously sourced from the Cryptopunks data contract, located <a href="https://etherscan.io/address/0x16f5a35647d6f03d5d3da7b35409d65ba03af3b2" target="_blank"><strong>here</strong></a>. Each image then undergoes a <strong>sophisticated algorithmic transformation</strong>, manipulating each individual pixel to orchestrate an aesthetically captivating <strong>mirror image</strong>, thus birthing uniquely exquisite '<strong>Phunks</strong>'.</p>

  <app-ethscribe />

  <p class="x-small center">Phuck Yuga Labs 2023</p>
  <p class="x-small center"><a href="#">Source code</a></p>
</main>
