<div
  class="transaction-history"
  *ngIf="(tokenSales$ | async) as tokenSales">

  <h2 i18n>Transaction History</h2>

  <div class="transaction-wrapper">
    <table [cellPadding]="0" [cellSpacing]="0">
      <thead>
        <tr>
          <th i18n>Type</th>
          <th i18n>From</th>
          <th i18n>To</th>
          <th i18n>Amount</th>
          <th i18n>Txn</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let event of (tokenSales$ | async)"
          [class]="event.type | lowercase">

          <td>
            <div class="cell-inner type-label">
              {{ event.type | cc2tc }}
            </div>
          </td>

          <td>
            <div class="cell-inner">
              <a
                *ngIf="event.fromAccount && event.fromAccount.id !== ZERO_ADDRESS; else placeholderCell"
                [routerLink]="['/', 'owned']"
                [queryParams]="{ address: event.fromAccount.id}">

                <app-wallet-address [address]="event.fromAccount.id"></app-wallet-address>
              </a>
            </div>
          </td>

          <td>
            <div class="cell-inner">
              <a
                *ngIf="event.toAccount && event.toAccount.id !== ZERO_ADDRESS; else placeholderCell"
                [routerLink]="['/', 'owned']"
                [queryParams]="{ address: event.toAccount.id }">

                <app-wallet-address [address]="event.toAccount.id"></app-wallet-address>
              </a>
            </div>
          </td>

          <td>
            <div class="cell-inner value">
              <ng-container *ngIf="event.value as value; else placeholderCell">
                <ng-container *ngIf="(value | weiToEth) as price; else placeholderCell">
                  {{ price | number }}Ξ <span class="usd">(${{ (price * +event.usd) | formatCash }})</span>
                </ng-container>
              </ng-container>
            </div>
          </td>

          <td>
            <div class="cell-inner">
              <a [href]="'https://etherscan.io/tx/' + (event.transactionHash)" target="_blank">
                {{ (+event.blockTimestamp * 1000) | date }}
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<ng-template #placeholderCell>
  <div class="placeholder">&nbsp;</div>
</ng-template>
