@if ((marketType$ | async); as marketType) {
  <div class="inner">
    @if ((activeMarketRouteData$ | async); as phunkData) {

      @if ((activeCollection$ | async); as collection) {
        <div class="header-wrapper">

          <h1 i18n>{{ marketTitles[marketType].replace('%collectionName%', collection.singleName) }}</h1>

          @if ((route.queryParams | async)?.address; as address) {
            @if (address) {
              <h2>
                by
                <a [href]="env.explorerUrl + '/address/' + address" target="_blank">
                  <app-address [address]="address" class="highlight" />
                </a>

                <!-- @if ((address | lowercase) !== (walletAddress$ | async)) {
                  <button class="chat-button" (click)="chatActive = true">
                    <ng-template [ngTemplateOutlet]="chatIcon" />
                  </button>
                } -->
              </h2>
            }

            <app-modal
              [(active)]="chatActive"
              [width]="500"
              [height]="600">

              @if (chatActive) {
                <app-chat
                  [withUser]="address"
                  [standalone]="true"
                />
              }
            </app-modal>
          }

          <h3>Showing <span class="highlight">{{ phunkData.total | number }}</span> of {{ collection.supply | number }}</h3>
        </div>
      }

      <div class="toolbar-wrapper">
        <div class="toolbar">
          <div class="left"></div>

          <div class="right">
            @if (marketType !== 'all') {
              <div class="sort-wrapper">
                <div class="label">Sort:</div>
                <ng-select
                  [(ngModel)]="activeSortModel"
                  [items]="sorts"
                  (change)="setSort($event)"
                  [searchable]="false"
                  [clearable]="false"
                />
              </div>
            }

            <button
              class="filters-button"
              [class.active]="filtersVisible"
              (click)="filtersVisible = !filtersVisible">

              @if ((activeTraitFilters$ | async); as filters) {
                @if (objectKeys(filters).length) {
                  <div class="count">{{ objectKeys(filters).length }}</div>
                }
              }
              Filter by Attribute
            </button>

            @if ((walletAddress$ | async); as walletAddress) {
              @if (
                (marketType === 'owned'
                && (route.snapshot.queryParams.address | lowercase) === walletAddress)
                || marketType === 'listings'
              ) {
                <div class="select-buttons">
                  @if (selectMutipleActive && marketType !== 'listings') {
                    <button
                      class="all-none"
                      [class.all]="selectAll"
                      (click)="selectAll = !selectAll">

                      all
                    </button>
                  }
                  <button
                    class="select"
                    (click)="setSelectActive()"
                    [class.active]="selectMutipleActive">

                    Select
                  </button>
                </div>
              }
            }
          </div>
        </div>

        @if ((walletAddress$ | async); as walletAddress) {
          @if (
            selectMutipleActive
            && (((marketType === 'owned')
            && (route.snapshot.queryParams.address | lowercase) === walletAddress) || marketType === 'listings')
          ) {
            <div class="selection-toolbar">
              <div class="selected-label">
                <span>{{ objectKeys(selected).length }}</span> selected
              </div>

              <div class="actions" [class.disabled]="!objectKeys(selected).length">
                @if (marketType === 'owned') {
                  <div class="actions-group">
                    <button (click)="batchAction('list')" [class.disabled]="!actionsState.canList">List</button>
                    <button (click)="batchAction('transfer')" [class.disabled]="!actionsState.canTransfer">Transfer</button>
                    <button (click)="batchAction('escrow')" [class.disabled]="!actionsState.canEscrow">Escrow</button>
                    <button (click)="batchAction('withdraw')" [class.disabled]="!actionsState.canWithdraw">Withdraw</button>
                  </div>
                } @else if (marketType === 'listings') {
                  <div class="actions-group buy-side">
                    <div class="total-value">
                      <span class="label">Total cost: </span>
                      <span class="value">
                        {{ (objectValues(selected) | calc : 'totalListingsValue') | number : '1.0-5' }}Ξ
                      </span>
                      <!-- {{ (selectedValue | weiToEth) | number }}Ξ</span> -->
                    </div>
                    <button (click)="batchAction('sweep')">
                      Buy Selected
                    </button>
                  </div>
                }
              </div>
            </div>
          }
        }
      </div>

      @if (filtersVisible) {
        <div class="filter-wrapper">
          <app-market-filters />
        </div>
      }

      <div class="grid-area-wrapper">
        <app-phunk-grid
          [observe]="true"
          [marketType]="marketType"
          [activeSort]="(activeSort$ | async).value"
          [limit]="250"
          [traitFilters]="(activeTraitFilters$ | async)"
          [phunkData]="phunkData.data"
          [total]="phunkData.total"
          [selectAll]="selectAll"
          [selectable]="
            selectMutipleActive
            && (((marketType === 'owned')
            && (route.snapshot.queryParams.address | lowercase) === (walletAddress$ | async)) || marketType === 'listings')
          "
          [(selected)]="selected"
          (selectedChange)="selectedChange($event)"
        />
      </div>
    }
  </div>
}

<app-slideout [active]="!!(slidseoutActive$ | async)">
  @if (isListingBulk) {
    <form [formGroup]="bulkActionsForm" class="list">
      <div class="top-bar">
        <h2 i18n>Bulk List <span class="highlight">{{ bulkActionsForm.value.listingPhunks?.length }}</span> items</h2>
        @if (deselected.length) {
          <h3>
            <span class="highlight">
              {{ deselected.length }}
            </span> Selected items are not eligible to be listed
          </h3>
        }

        <p class="description">Items with no value will not be listed.</p>
      </div>

      <div class="selected-wrapper">
        <ng-container formArrayName="listingPhunks">
          @for (item of selectedPhunksFormArray.controls; track item.value.hashId; let i = $index) {
            <div [formGroupName]="i">

              <div class="selected">
                <img
                  [class.listed]="item.value.listing"
                  [lazyLoad]="dataSvc.staticUrl + '/images/' + item.value.sha + '.png'"
                  [defaultImage]="'assets/loadingphunk.png'"
                  width="50"
                  height="50"
                />

                <div class="form-group">
                  <label [for]="item.value.phunkId">List Price</label>
                  <input
                    type="number"
                    [id]="item.value.phunkId"
                    [placeholder]="item.value.listing ? ((item.value.listing?.minValue | weiToEth) + 'Ξ') : 'ETH'"
                    formControlName="listPrice"
                  />
                  @if (selectedPhunksFormArray.controls[i].get('listPrice')?.value) {
                    <button tabindex="-1" class="copy" (click)="copyToNext(i)">Copy</button>
                  }
                </div>
              </div>
            </div>
          }
        </ng-container>
      </div>

      <div class="form-actions">
        <button type="reset" (click)="closeModal()">Cancel</button>
        <button type="submit" (click)="submitBatchListing()">List All</button>
      </div>
    </form>
  } @else if (isTransferingBulk) {
    <form [formGroup]="bulkActionsForm" class="transfer">
      <div class="top-bar">
        <h2 i18n>Bulk transfer <span class="highlight">{{ bulkActionsForm.value.transferPhunks?.length }}</span> Phunks</h2>
        @if (deselected.length) {
          <h3>
            <span class="highlight">
              {{ deselected.length }}
            </span> Selected items are not eligible to be transferred
          </h3>
        }
      </div>

      <div class="image-grid-wrapper">
        @for (item of selectedPhunksFormArray.controls; track item.value.sha; let i = $index) {
          <div class="image">
            <img
              [lazyLoad]="dataSvc.staticUrl + '/images/' + item.value.sha + '.png'"
              [defaultImage]="'assets/loadingphunk.png'"
            />
          </div>
        }
      </div>

      <div class="form-group">
        <label i18n for="transfer-address">Transfer to address</label>
        <input #transferAddressInput type="text" id="transfer-address" [formControl]="transferAddress"
          placeholder="0x or .ens" role="presentation" autocomplete="off" />
      </div>

      <div class="form-actions">
        <button type="reset" (click)="closeModal()">Cancel</button>
        <button type="submit" (click)="submitBatchTransfer()">Transfer All</button>
      </div>
    </form>
  } @else if (isEscrowingBulk) {
    <form [formGroup]="bulkActionsForm" class="escrow">
      <div class="top-bar">
        <h2 i18n>Bulk Escrow <span class="highlight">{{ bulkActionsForm.value.escrowPhunks?.length }}</span> items</h2>
        @if (deselected.length) {
          <h3>
            <span class="highlight">
              {{ deselected.length }}
            </span> Selected items are not eligible to be listed
          </h3>
        }
      </div>

      <div class="image-grid-wrapper">
        @for (item of selectedPhunksFormArray.controls; track item.value.hashId; let i = $index) {
          <div class="image">
            <img
              [lazyLoad]="dataSvc.staticUrl + '/images/' + item.value.sha + '.png'"
              [defaultImage]="'assets/loadingphunk.png'"
            />
          </div>
        }
      </div>

      <div class="form-actions">
        <button type="reset" (click)="closeModal()">Cancel</button>
        <button type="submit" (click)="submitBatchEscrow()">Escrow All</button>
      </div>
    </form>
  } @else if (isWithdrawingBulk) {
    <form [formGroup]="bulkActionsForm" class="withdraw">
      <div class="top-bar">
        <h2 i18n>Bulk Withdraw <span class="highlight">{{ bulkActionsForm.value.withdrawPhunks?.length }}</span> items</h2>
        @if (deselected.length) {
          <h3>
            <span class="highlight">
              {{ deselected.length }}
            </span> Selected items are not eligible to be withdrawn
          </h3>
        }
      </div>

      <div class="image-grid-wrapper">
        @for (item of selectedPhunksFormArray.controls; track item.value.hashId; let i = $index) {
          <div class="image">
            <img
              [lazyLoad]="dataSvc.staticUrl + '/images/' + item.value.sha + '.png'"
              [defaultImage]="'assets/loadingphunk.png'"
            />
          </div>
        }
      </div>

      <div class="form-actions">
        <button type="reset" (click)="closeModal()">Cancel</button>
        <button type="submit" (click)="submitBatchWithdraw()">Withdraw All</button>
      </div>
    </form>
  } @else if (isBuyingBulk) {
    <form [formGroup]="bulkActionsForm" class="buy">
      <div class="top-bar">
        <h2 i18n>Buy <span class="highlight">{{ bulkActionsForm.value.buyPhunks?.length }}</span> items</h2>
        @if (deselected.length) {
          <h3>
            <span class="highlight">
              {{ deselected.length }}
            </span> Selected items are not eligible to be purchased
          </h3>
        }
      </div>

      <div class="items-wrapper">
        @for (item of selectedPhunksFormArray.controls; track item.value.hashId; let i = $index) {
          <div class="image-wrapper">
            <img
              [lazyLoad]="dataSvc.staticUrl + '/images/' + item.value.sha + '.png'"
              [defaultImage]="'assets/loadingphunk.png'"
            />
          </div>
          <div class="value-wrapper">
            <span class="token">
              #{{ item.value.phunkId }}
            </span>
            <span class="eth">
              {{ (item.value.listing?.minValue | weiToEth) | number }}Ξ
            </span>
            <span class="usd">
              ${{ ((item.value.listing?.minValue | weiToEth) * ((usd$ | async) || 0)) | formatCash }}
            </span>
          </div>
        }
      </div>

      <div class="total-wrapper">
        <div class="label">Total</div>
        <div class="value-wrapper">
          @if ((bulkActionsForm.value.buyPhunks || []) | calc : 'totalListingsValue'; as totalValue) {
            <span class="eth">
              {{ (totalValue) | number : '1.0-5' }}Ξ
            </span>
            <span class="usd">
              ${{ (totalValue * ((usd$ | async) || 0)) | formatCash }}
            </span>
          }
        </div>
      </div>

      <div class="form-actions">
        <button type="reset" (click)="closeModal()">Cancel</button>
        <button type="submit" (click)="submitBatchBuy()">Buy All</button>
      </div>
    </form>
  }
</app-slideout>

<ng-template #prevIcon>
  <svg height="13" viewBox="0 0 8 13" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m5.203125 10.40625v2.5664062h2.6015625v-2.5664062zm-2.6015625-2.6015625v2.6015625h2.6015625v-2.6015625zm-2.6015625-2.6015625v2.6015625h2.6015625v-2.6015625zm2.6015625-2.6015625v2.6015625h2.6015625v-2.6015625zm2.6015625-2.6015625v2.6015625h2.6015625v-2.6015625z" fill="rgba(var(--text-color), 1)" /></svg>
</ng-template>

<ng-template #nextIcon>
  <svg height="13" viewBox="0 0 8 13" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m2.6015625 10.40625v2.5664062h-2.6015625v-2.5664062zm2.6015625-2.6015625v2.6015625h-2.6015625v-2.6015625zm2.6015625-2.6015625v2.6015625h-2.6015625v-2.6015625zm-2.6015625-2.6015625v2.6015625h-2.6015625v-2.6015625zm-2.6015625-2.6015625v2.6015625h-2.6015625v-2.6015625z" fill="rgba(var(--text-color), 1)" /></svg>
</ng-template>

<ng-template #chatIcon>
  <svg height="9" viewBox="0 0 11 9" width="11" xmlns="http://www.w3.org/2000/svg"><path d="m1 7h1v1h-1z"/><path d="m2 6h1v1h-1z"/><path d="m1 5h1v1h-1z"/><path d="m0 4h1v1h-1z"/><path d="m0 3h1v1h-1z"/><path d="m0 2h1v1h-1z"/><path d="m1 1h1v1h-1z"/><path d="m2 0h1v1h-1z"/><path d="m10 5h-1v1h1z"/><path d="m9 6h-1v1h1z"/><path d="m8 7h-1v1h1z"/><path d="m7 7h-1v1h1z"/><path d="m11 4h-1v1h1z"/><path d="m11 3h-1v1h1z"/><path d="m11 2h-1v1h1z"/><path d="m10 1h-1v1h1z"/><path d="m9 0h-1v1h1z"/><path d="m3 0h1v1h-1z"/><path d="m4 0h1v1h-1z"/><path d="m5 0h1v1h-1z"/><path d="m6 0h1v1h-1z"/><path d="m7 0h1v1h-1z"/><path d="m0 8h1v1h-1z"/><path d="m1 8h1v1h-1z"/><path d="m2 8h1v1h-1z"/><path d="m3 8h1v1h-1z"/><path d="m4 8h1v1h-1z"/><path d="m5 7h1v1h-1z"/></svg>
</ng-template>
