@if ((marketType$ | async); as marketType) {
  <div class="inner">
    @if ((activeMarketRouteData$ | async); as phunkData) {

      <div class="header-wrapper">
        <h1 i18n>{{ marketTitles[marketType].replace('%collectionName%', (activeCollection$ | async)?.singleName) }}</h1>
        @if ((route.queryParams | async)?.address; as address) {
          @if (address) {
            <h2>
              by
              <a [href]="env.explorerUrl + '/address/' + address" target="_blank">
                <app-address [address]="address" class="highlight" />
              </a>
            </h2>
          }
        }

        {{ phunkData.total }}

        <!-- @if (marketType === 'all') {
          @if ((activeCollection$ | async); as activeCollection) {
            <h3>{{ activeCollection.supply | number }} Items Total</h3>
          } @else {
            <h3>{{ phunkData.length | number }} Items Total</h3>
          }
        } @else {
          <h3>{{ phunkData.length | number }} Items Total</h3>
        } -->

      </div>

      <div class="toolbar-wrapper">
        <div class="toolbar">
          <div class="left"></div>

          <div class="right">
            @if (marketType !== 'all') {
              <div class="sort-wrapper">
                <div class="label">Sort:</div>
                <ng-select
                  [(ngModel)]="activeSortModel"
                  [items]="sorts"
                  (change)="setSort($event)"
                  [searchable]="false"
                  [clearable]="false"
                />
              </div>
            }

            <button
              class="filters-button"
              (click)="filtersVisible = !filtersVisible">

              @if ((activeTraitFilters$ | async); as filters) {
                @if (objectKeys(filters).length) {
                  <div class="count">{{ objectKeys(filters).length }}</div>
                }
              }
              Filter by Attribute
            </button>

            @if (
              (marketType === 'owned'
              && (route.snapshot.queryParams.address | lowercase) === (walletAddress$ | async))
            ) {
              <!-- || marketType === 'listings' -->
              <div class="select-buttons">
                @if (selectMutipleActive) {
                   <!-- && marketType !== 'listings' -->
                  <button
                    class="all-none"
                    [class.all]="selectAll"
                    (click)="selectAll = !selectAll">

                    all
                  </button>
                }
                <button
                  class="select"
                  (click)="setSelectMiltiple()"
                  [class.active]="selectMutipleActive">

                  Select
                </button>
              </div>
            }
          </div>
        </div>

        @if (
          selectMutipleActive
          && (((marketType === 'owned')
          && (route.snapshot.queryParams.address | lowercase) === (walletAddress$ | async)) || marketType === 'listings')
        ) {
          <div class="selection-toolbar">
            <div class="selected-label">
              Selected: <span>{{ objectKeys(selected).length }}</span>
            </div>

            <div class="actions" [class.disabled]="!objectKeys(selected).length">
              @if (marketType === 'owned') {
                <button (click)="batchAction('list')" [class.disabled]="!actionsState.canList">List</button>
                <button (click)="batchAction('transfer')" [class.disabled]="!actionsState.canTransfer">Transfer</button>
                <button (click)="batchAction('escrow')" [class.disabled]="!actionsState.canEscrow">Escrow</button>
                <button (click)="batchAction('withdraw')" [class.disabled]="!actionsState.canWithdraw">Withdraw</button>
              } @else if (marketType === 'listings') {
                <div class="total-value">
                  <span class="label">Total cost: </span>
                  <span class="value">{{ (selectedValue | weiToEth) | number }}Ξ</span>
                </div>
                <button (click)="batchAction('sweep')">
                  Buy Selected
                </button>
              }
            </div>
          </div>
        }
      </div>

      @if (filtersVisible) {
        <div class="filter-wrapper">
          <app-market-filters />
        </div>
      }

      <div class="grid-area-wrapper">
        <app-phunk-grid
          [observe]="true"
          [marketType]="marketType"
          [activeSort]="(activeSort$ | async).value"
          [limit]="250"
          [traitFilters]="(activeTraitFilters$ | async)"
          [phunkData]="phunkData.data"
          [total]="phunkData.total"
          [selectAll]="selectAll"
          [selectable]="
            selectMutipleActive
            && (((marketType === 'owned')
            && (route.snapshot.queryParams.address | lowercase) === (walletAddress$ | async)) || marketType === 'listings')
          "
          [(selected)]="selected"
          (selectedChange)="selectedChange($event)"
        />
      </div>
    }
  </div>
}

<app-slideout [active]="!!(slidseoutActive$ | async)">
  @if (isListingBulk) {
    <form [formGroup]="bulkListingForm" class="list">
      <div class="top-bar">
        <h2 i18n>Bulk List <span class="highlight">{{ bulkListingForm.value.listingPhunks?.length }}</span> items</h2>
        @if (deselected.length) {
          <h3>
            <span class="highlight">
              {{ deselected.length }}
            </span> Selected items are not eligible to be listed
          </h3>
        }

        <p class="description">Items with no value will not be listed.</p>
      </div>

      <div class="selected-wrapper">
        <ng-container formArrayName="listingPhunks">
          @for (item of selectedPhunksFormArray.controls; track item.value.hashId; let i = $index) {
            <div [formGroupName]="i">

              <div class="selected">
                <img
                  [class.listed]="item.value.listing"
                  [lazyLoad]="dataSvc.staticUrl + '/images/' + item.value.sha + '.png'"
                  [defaultImage]="'assets/loadingphunk.png'"
                  width="50"
                  height="50"
                />

                <div class="form-group">
                  <label [for]="item.value.phunkId">List Price</label>
                  <input
                    type="number"
                    [id]="item.value.phunkId"
                    [placeholder]="((item.value.listing?.minValue | weiToEth) + 'Ξ') || 'ETH'"
                    formControlName="listPrice"
                  />
                  @if (selectedPhunksFormArray.controls[i].get('listPrice')?.value) {
                    <button tabindex="-1" class="copy" (click)="copyToNext(i)">Copy</button>
                  }
                </div>
              </div>
            </div>
          }
        </ng-container>
      </div>

      <div class="form-actions">
        <button type="reset" (click)="closeModal()">Cancel</button>
        <button type="submit" (click)="submitBatchListing()">List All</button>
      </div>
    </form>
  } @else if (isTransferingBulk) {
    <form [formGroup]="bulkListingForm" class="transfer">
      <div class="top-bar">
        <h2 i18n>Bulk transfer <span class="highlight">{{ bulkListingForm.value.transferPhunks?.length }}</span> Phunks</h2>
        @if (deselected.length) {
          <h3>
            <span class="highlight">
              {{ deselected.length }}
            </span> Selected items are not eligible to be transferred
          </h3>
        }
      </div>

      <div class="image-grid-wrapper">
        @for (item of selectedPhunksFormArray.controls; track item.value.sha; let i = $index) {
          <div class="image">
            <img
              [lazyLoad]="dataSvc.staticUrl + '/images/' + item.value.sha + '.png'"
              [defaultImage]="'assets/loadingphunk.png'"
            />
          </div>
        }
      </div>

      <div class="form-group">
        <label i18n for="transfer-address">Transfer to address</label>
        <input #transferAddressInput type="text" id="transfer-address" [formControl]="transferAddress"
          placeholder="0x or .ens" role="presentation" autocomplete="off" />
      </div>

      <div class="form-actions">
        <button type="reset" (click)="closeModal()">Cancel</button>
        <button type="submit" (click)="submitBatchTransfer()">Transfer All</button>
      </div>
    </form>
  } @else if (isEscrowingBulk) {
    <form [formGroup]="bulkListingForm" class="escrow">
      <div class="top-bar">
        <h2 i18n>Bulk Escrow <span class="highlight">{{ bulkListingForm.value.escrowPhunks?.length }}</span> items</h2>
        @if (deselected.length) {
          <h3>
            <span class="highlight">
              {{ deselected.length }}
            </span> Selected items are not eligible to be listed
          </h3>
        }
      </div>

      <div class="image-grid-wrapper">
        @for (item of selectedPhunksFormArray.controls; track item.value.hashId; let i = $index) {
          <div class="image">
            <img
              [lazyLoad]="dataSvc.staticUrl + '/images/' + item.value.sha + '.png'"
              [defaultImage]="'assets/loadingphunk.png'"
            />
          </div>
        }
      </div>

      <div class="form-actions">
        <button type="reset" (click)="closeModal()">Cancel</button>
        <button type="submit" (click)="submitBatchEscrow()">Escrow All</button>
      </div>
    </form>
  }
</app-slideout>

<ng-template #prevIcon>
  <svg height="13" viewBox="0 0 8 13" width="8" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m5.203125 10.40625v2.5664062h2.6015625v-2.5664062zm-2.6015625-2.6015625v2.6015625h2.6015625v-2.6015625zm-2.6015625-2.6015625v2.6015625h2.6015625v-2.6015625zm2.6015625-2.6015625v2.6015625h2.6015625v-2.6015625zm2.6015625-2.6015625v2.6015625h2.6015625v-2.6015625z"
      fill="rgba(var(--text-color), 1)" />
  </svg>
</ng-template>

<ng-template #nextIcon>
  <svg height="13" viewBox="0 0 8 13" width="8" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m2.6015625 10.40625v2.5664062h-2.6015625v-2.5664062zm2.6015625-2.6015625v2.6015625h-2.6015625v-2.6015625zm2.6015625-2.6015625v2.6015625h-2.6015625v-2.6015625zm-2.6015625-2.6015625v2.6015625h-2.6015625v-2.6015625zm-2.6015625-2.6015625v2.6015625h-2.6015625v-2.6015625z"
      fill="rgba(var(--text-color), 1)" />
  </svg>
</ng-template>

<ng-template #thumbUpIcon>
  <svg height="16" viewBox="0 0 15 16" width="15" xmlns="http://www.w3.org/2000/svg">
    <g fill="none" fill-rule="evenodd">
      <g fill="#ffca00">
        <path d="m5 0h1v4h-1z" />
        <path d="m11 13h1v1h-1z" />
        <path d="m11 10h2v1h-2z" />
        <path d="m11 7h2v1h-2z" />
        <path d="m10 8h1v2h-1z" />
        <path d="m13 6h1v1h-1z" />
        <path d="m14 8h1v2h-1z" />
        <path d="m13 11h1v2h-1z" />
        <path d="m12 5h1v1h-1z" />
        <path d="m10 11h1v2h-1z" />
        <path d="m10 14h1v1h-1z" />
      </g>
      <path d="m6 0h1v6h-1z" fill="#ffe73e" />
      <path d="m5 4h1v10h-1z" fill="#ffe73e" />
      <path d="m4 6h1v8h-1z" fill="#ffe73e" />
      <path d="m0 9h2v4h-2z" fill="#ffe73e" />
      <path d="m10 5h2v2h-2z" fill="#ffe73e" />
      <path d="m11 8h3v2h-3z" fill="#ffe73e" />
      <path d="m11 11h2v2h-2z" fill="#ffe73e" />
      <path d="m11 14h1v1h-1z" fill="#ffe73e" />
      <path d="m12 6h1v1h-1z" fill="#ffe73e" />
      <path d="m3 7h1v6h-1z" fill="#ffe73e" />
      <path d="m7 1h1v4h-1z" fill="#ffe73e" />
      <path d="m4 4h1v2h-1z" fill="#ffca00" />
      <path d="m3 6h1v1h-1z" fill="#ffca00" />
      <path d="m0 8h2v1h-2z" fill="#ffca00" />
      <path d="m0 13h2v1h-2z" fill="#ffca00" />
      <path d="m3 13h1v1h-1z" fill="#ffca00" />
      <path d="m4 14h2v1h-2z" fill="#ffca00" />
      <path d="m6 14h2v1h-2z" fill="#ffca00" />
      <path d="m6 6h1v8h-1z" fill="#ffca00" />
      <path d="m2 9h1v4h-1z" fill="#ffca00" />
      <path d="m7 5h1v1h-1z" fill="#ffca00" />
      <path d="m0 7h3v1h-3z" fill="#ff9e00" />
      <path d="m8 5h2v1h-2z" fill="#ff9e00" />
      <path d="m9 6h1v1h-1z" fill="#ff9e00" />
      <path d="m9 14h1v1h-1z" fill="#ff9e00" />
      <path d="m9 11h1v2h-1z" fill="#ff9e00" />
      <path d="m9 8h1v2h-1z" fill="#ff9e00" />
      <path d="m10 7h1v1h-1z" fill="#ff9e00" />
      <path d="m10 10h1v1h-1z" fill="#ff9e00" />
      <path d="m10 13h1v1h-1z" fill="#ff9e00" />
      <path d="m0 14h3v1h-3z" fill="#d76525" />
      <path d="m3 15h9v1h-9z" fill="#d76525" />
      <path d="m8 6h1v9h-1z" fill="#d76525" />
      <path d="m9 7h1v1h-1z" fill="#d76525" />
      <path d="m9 10h1v1h-1z" fill="#d76525" />
      <path d="m9 13h1v1h-1z" fill="#d76525" />
      <path d="m2 8h1v1h-1z" fill="#ff9e00" />
      <path d="m13 7h1v1h-1z" fill="#ff9e00" />
      <path d="m13 10h1v1h-1z" fill="#ff9e00" />
      <path d="m12 13h1v2h-1z" fill="#ff9e00" />
      <path d="m7 6h1v8h-1z" fill="#ff9e00" />
      <path d="m2 13h1v1h-1z" fill="#ff9e00" />
      <path d="m3 14h1v1h-1z" fill="#ff9e00" />
    </g>
  </svg>
</ng-template>
