@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: block;
}

.grid-wrapper {
  width: 100%;
  display: grid;
  align-content: start;
  grid-template-columns: repeat(16, calc(100% / 16));

  .item-link {
    text-decoration: none;
  }

  .item {
    position: relative;
    width: 100%;

    .selector {
      input {
        display: none;

        & + label {
          display: block;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;

          .check {
            position: absolute;
            top: .8rem;
            right: .8rem;
            z-index: 2;

            box-shadow: 0 0 0 .3rem rgba(var(--background), 1);
            background-color: rgba(var(--background), .3);

            width: 1.4rem;
            height: 1.4rem;
          }
        }

        &:checked {
          & + label {
            // border-color: rgba(var(--pink), 1);
            .check {
              background-color: rgba(var(--pink), 1);
            }
          }
        }
      }
    }

    .image-wrapper {
      img {
        background-color: rgba(var(--base-color), 1);
        display: block;
        width: 100%;
        height: auto;
        image-rendering: pixelated;
      }

      &.in-escrow {
        img {
          background-color: rgba(var(--escrow-color), 1);
        }
      }

      &.listing {
        img {
          background-color: rgba(var(--listed-color), 1);
        }
      }

      &.bid {
        img {
          background-color: rgba(var(--bid-color), 1);
        }
      }
    }

    .labels-wrapper {
      padding: 1rem 0 2rem;

      .label {
        font-size: 1.4rem;
        color: rgba(var(--dark-text), 1);
        text-align: center;
        font-weight: 700;
      }

      p {
        padding: 0;
        margin: 0;
        font-size: 1.4rem;
        color: rgba(var(--text-color), 1);
        text-align: center;
      }
    }

    &.selected {
      .image-wrapper {
        transform: scale(.94);
      }
    }
  }

  &.selectable {
    .item {

    }
  }

  &.menu {
    grid-template-columns: repeat(16, calc(100% / 16));
  }

  &.compact {
    grid-template-columns: repeat(22, calc(100% / 22));
  }

  // @media (max-width: 1400px) {
  //   grid-template-columns: repeat(14, calc(100% / 14));
  // }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(12, calc(100% / 12));
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(10, calc(100% / 10));
  }

  @media (max-width: $mobile) {
    grid-template-columns: repeat(4, calc(100% / 4));

    &.compact {
      grid-template-columns: repeat(10, calc(100% / 10));
      column-gap: 0;
    }

    &.menu {
      grid-template-columns: repeat(16, calc(100% / 16));
    }
  }
}
