@if (marketType) {

  @if (phunkData) {
    @for (
      phunk of phunkData |
      properties : (activeTraitFilters$ | async) |
      sort: activeSort : marketType;
      track phunk.tokenId;
      let i = $index;
    ) {
      @if (i < limit) {
        <ng-container *ngTemplateOutlet="phunkItem; context:{ $implicit: phunk, index: i }" />
      }
    }
  } @else {
    @for (i of limitArr; track i) {
      <div class="item-link">
        <div class="item">
          <div class="image-wrapper">
            <img [src]="'assets/loadingphunk.png'" width="50" height="50" />
          </div>

          @if (viewType === 'market') {
            <div class="labels-wrapper">
              <div class="label">#0000</div>
              <div class="label">Loading...<br />&nbsp;</div>
            </div>
          }
        </div>
      </div>
    }
  }

  <ng-template #phunkItem let-phunk let-i="index">

    <div
      class="item"
      (waIntersectionObservee)="onIntersection($event)"
      [class.selected]="selected[phunk.hashId]"
      [attr.data-index]="i"
      [class.in-escrow]="(marketType === 'owned' && viewType === 'market') && phunk.owner === escrowAddress && !phunk.listing"
      [class.listing]="(marketType === 'listings' || (marketType === 'owned' && viewType === 'market')) && phunk.listing"
      [class.bid]="(marketType === 'bids' || (marketType === 'owned' && viewType === 'market')) && phunk.bid">

      @if (selectable) {
        <div class="selector">
          <input
            #phunkCheck
            type="checkbox"
            [id]="'checkbox-' + phunk.tokenId"
            [checked]="selected[phunk.hashId]"
            [attr.data-hash-id]="phunk.hashId"
            (change)="selectPhunk(phunk)"
          />

          <label [for]="'checkbox-' + phunk.tokenId">
            <div class="check"></div>
          </label>
        </div>
      }

      <a
        class="item-link"
        [routerLink]="['/', 'details', phunk.hashId]">

        <div class="image-wrapper">
          <!-- dataSvc.staticUrl + '/images/phunk' + (phunk.tokenId | tokenIdParse) + '.png' -->
          <img
            [lazyLoad]="phunk | imagePipe"
            [defaultImage]="'assets/loadingphunk.png'"
            width="50"
            height="50"
          />
        </div>
        <!-- {{ phunk.slug }} -->
        @if (showLabels && viewType === 'market') {
          <div class="labels-wrapper">
            <div class="label">#{{ phunk.tokenId }}</div>

            @if (
              marketType === 'listings'
              || marketType === 'owned'
            ) {
              @if (phunk.listing; as listing) {
                <p i18n>
                  {{ (listing.minValue | weiToEth) }}Ξ<br />
                  ${{ ((listing.minValue | weiToEth) * ((usd$ | async) || 0)) | formatCash }}
                </p>
              }
            }

            @if (
              marketType === 'bids'
            ) {
              @if (phunk.bid; as bid) {
                <p i18n>
                  {{ (bid.value | weiToEth) }}Ξ<br />
                  ${{ ((bid.value | weiToEth) * ((usd$ | async) || 0)) | formatCash }}
                </p>
              }
            }
          </div>
        }
      </a>

    </div>
  </ng-template>
}
