@if ((mktType$ | async); as mktType) {
  @if (phunkData) {
    <div class="grid-wrapper" [class.selectable]="selectable" [class]="viewType">

      @for (
        phunk of phunkData |
        properties : (activeTraitFilters$ | async) : traitCount |
        sort: (activeSort$ | async); track phunk.phunkId; let i = $index
      ) {
        @if (i < limit) {
          <ng-container *ngTemplateOutlet="phunkItem; context:{ $implicit: phunk, index: i }"></ng-container>
        }
      }
    </div>
  } @else {
    <div class="grid-wrapper" [class]="viewType">

      @for (i of limitArr; track i) {
        <div class="item-link">
          <div class="item">

            <div class="image-wrapper">
              <img [src]="'assets/loadingphunk.png'" width="50" height="50" />
            </div>

            @if (viewType === 'market') {
              <div class="labels-wrapper">
                <div class="label">#0000</div>
                <div class="label">Loading...<br />&nbsp;</div>
              </div>
            }
          </div>
        </div>
      }
    </div>
  }

  <ng-template #phunkItem let-phunk let-i="index">
    <div
      class="item"
      (waIntersectionObservee)="onIntersection($event)"
      [class.selected]="selected[phunk.hashId]"
      [attr.data-index]="i">

      @if (selectable) {
        <div class="selector">
          <input
            #phunkCheck
            type="checkbox"
            [id]="'checkbox-' + phunk.phunkId"
            [checked]="selected[phunk.hashId]"
            [attr.data-hash-id]="phunk.hashId"
            (change)="selectPhunk(phunk)"
          />

          <label [for]="'checkbox-' + phunk.phunkId">
            <div class="check"></div>
          </label>
        </div>
      }

      <a
        class="item-link"
        [routerLink]="['/', 'details', phunk.phunkId]"
        [href]="'/details/' + phunk.phunkId">

        <div
          class="image-wrapper"
          [class.in-escrow]="phunk.owner === escrowAddress"
          [class.listing]="(mktType === 'listings' || mktType === 'owned') && phunk.listing"
          [class.bid]="mktType === 'bids' && phunk.bid">

          <img
            [lazyLoad]="dataSvc.staticUrl + '/images/phunk' + (phunk.phunkId | tokenIdParse) + '.svg'"
            [defaultImage]="'assets/loadingphunk.png'"
            width="50"
            height="50"
          />
        </div>

        @if (showLabels && viewType === 'market') {
          <div class="labels-wrapper">
            <div class="label">#{{ phunk.phunkId }}</div>

            @if (mktType === 'listings' || mktType === 'owned') {
              @if (phunk.listing; as listing) {
                <p i18n>
                  {{ (listing.minValue | weiToEth) | formatCash }}Ξ<br />
                  <!-- @if ((dataSvc.usd$ | async); as usd) {
                    ${{ ((listing.minValue | weiToEth) * usd) | formatCash }}
                  } -->
                </p>
              }
            }

            @if (mktType === 'bids') {
              @if (phunk.bid; as bid) {
                <p i18n>
                  {{ (bid.value | weiToEth) | formatCash }}Ξ<br />
                  <!-- @if ((dataSvc.usd$ | async); as usd) {
                    ${{ ((bid.value | weiToEth) * usd) | formatCash }}
                  } -->
                </p>
              }
            }
          </div>
        }
      </a>

    </div>
  </ng-template>
}
