<ng-container *ngIf="(marketType$ | async) as marketType">
  <div
    *ngIf="phunkData; else placeholder"
    class="grid-wrapper"
    [class.selectable]="selectable"
    [class]="viewType">

    <ng-container *ngFor="let phunk of phunkData |
      properties : (activeTraitFilters$ | async) : traitCount |
      sort: (activeSort$ | async);
      trackBy: identify;
      let i = index">

      <ng-container *ngIf="i < limit">
        <ng-container *ngTemplateOutlet="phunkItem; context:{ $implicit: phunk, index: i }"></ng-container>
      </ng-container>
    </ng-container>
  </div>

  <ng-template #phunkItem let-phunk let-i="index">
    <div
      class="item"
      [class.selected]="selected.includes(phunk.hashId)"
      [attr.data-index]="i"
      (waIntersectionObservee)="onIntersection($event)">

      <div
        *ngIf="selectable"
        class="selector">

        <input
          #phunkCheck
          type="checkbox"
          [id]="'checkbox-' + phunk.phunkId"
          [checked]="selected.includes(phunk.hashId)"
          [attr.data-hash-id]="phunk.hashId"
          (change)="selectPhunk(phunk.hashId)"
        />

        <label [for]="'checkbox-' + phunk.phunkId">
          <div class="check"></div>
        </label>
      </div>

      <a
        class="item-link"
        [routerLink]="['/', 'details', phunk.phunkId]"
        [href]="'/details/' + phunk.phunkId">

        <div
          class="image-wrapper"
          [class.in-escrow]="phunk.owner === escrowAddress"
          [class.listing]="(marketType === 'listings' || marketType === 'owned') && phunk.listing"
          [class.bid]="marketType === 'bids' && phunk.bid">

          <!-- <img
            [src]="'assets/loadingphunk.png'"
            width="50"
            height="50"
          /> -->

          <img
            [lazyLoad]="dataSvc.staticUrl + '/images/phunk' + (phunk.phunkId | tokenIdParse) + '.svg'"
            [defaultImage]="'assets/loadingphunk.png'"
            width="50"
            height="50"
          />
        </div>

        <div
          class="labels-wrapper"
          *ngIf="showLabels && viewType === 'market'">

          <div class="label">#{{ phunk.phunkId }}</div>

          <ng-container *ngIf="marketType === 'listings' || marketType === 'owned'">
            <ng-container *ngIf="phunk.listing as listing">
              <p i18n>
                {{ (listing.minValue | weiToEth) | formatCash }}Ξ<br />
                <ng-container *ngIf="(dataSvc.usd$ | async) as usd">
                  ${{ ((listing.minValue | weiToEth) * usd) | formatCash }}
                </ng-container>
              </p>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="marketType === 'bids'">
            <ng-container *ngIf="phunk.bid as bid">
              <p i18n>
                {{ (bid.value | weiToEth) | formatCash }}Ξ<br />
                <ng-container *ngIf="(dataSvc.usd$ | async) as usd">
                  ${{ ((bid.value | weiToEth) * usd) | formatCash }}
                </ng-container>
              </p>
            </ng-container>
          </ng-container>
        </div>
      </a>

    </div>
  </ng-template>
</ng-container>

<ng-template #placeholder>
  <div
    class="grid-wrapper"
    [class]="viewType">

    <div class="item-link" *ngFor="let i of limitArr">
      <div class="item">

        <div class="image-wrapper">
          <img
            [src]="'assets/loadingphunk.png'"
            width="50"
            height="50"
          />
        </div>

        <div
          class="labels-wrapper"
          *ngIf="viewType === 'market'">

          <div class="label">#0000</div>
          <div class="label">Loading...<br />&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
