@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: block;
  width: 100%;
  // min-height: var(--billboard-height);
  padding-top: 20rem;
  background-color: rgba(var(--base-color), 1);
  padding-bottom: 3rem;
}

h2 {
  color: rgba(var(--black), 1);
  font-family: $secondary-font-stack;
  font-size: 3rem;
}

.collections {
  display: flex;

  // align-items: flex-end;
  // justify-content: center;
}

.collection {
  min-width: 30rem;
  margin-right: 3rem;

  background-color: rgba(var(--pink), 1);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.5rem;

    text-decoration: none;
    color: rgba(var(--text-color), 1);

    .collection-details {
      display: flex;
      align-items: center;

      .collection-image {
        width: 3.6rem;
        height: 3.6rem;
        margin-right: 1rem;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          image-rendering: pixelated;
          background-color: rgba(var(--base-color), 1);

          box-shadow: -.3rem -.3rem 0 0 rgba(var(--bid-color), 1);
        }
      }

      .title {
        font-size: 1.6rem;
        font-family: $secondary-font-stack;
      }
    }

    .arrow {
      svg {
        display: block;
        path {
          fill: rgba(var(--text-color), 1);
        }
      }
    }

    &:active {
      transform: translateY(1px)
    }
  }

  app-phunk-grid {

  }

  // .grid {
  //   display: grid;
  //   grid-template-columns: repeat(5, 1fr);

  //   .item {
  //     display: flex;
  //     align-items: flex-end;
  //     justify-content: center;

  //     background-color: rgba(var(--pink), 1);

  //     .item-image {
  //       width: 6rem;
  //       height: 6rem;

  //       img {
  //         display: block;
  //         width: 100%;
  //         height: 100%;
  //         object-fit: cover;
  //         image-rendering: pixelated;
  //       }
  //     }
  //   }
  // }

  &:last-child {
    margin-right: 0;
  }
}
