@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: block;
  width: 100%;
}

h2 {
  color: rgba(var(--base-color), 1);
  font-family: $secondary-font-stack;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.collections {

}

.collection {
  width: 100%;
  margin-bottom: 3rem;

  background-color: rgba(var(--pink), 1);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.5rem;

    text-decoration: none;
    color: rgba(var(--text-color), 1);

    .collection-details {
      display: flex;
      align-items: center;

      .collection-image {
        width: 3.6rem;
        height: 3.6rem;
        margin-right: 1rem;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          image-rendering: pixelated;
          background-color: rgba(var(--base-color), 1);

          box-shadow: -.3rem -.3rem 0 0 rgba(var(--bid-color), 1);
        }
      }

      .title {
        font-size: 1.6rem;
        font-family: $secondary-font-stack;
      }
    }

    .arrow {
      svg {
        display: block;
        path {
          fill: rgba(var(--text-color), 1);
        }
      }
    }

    &:active {
      transform: translateY(1px)
    }
  }

  app-phunk-grid {

  }

  &:last-child {
    margin-bottom: 0;
  }
}
