@use '@scss/abstracts/variables' as *;
@use '@scss/abstracts/mixins' as *;

:host {
  display: block;
  font-family: var(--secondary-font-stack);
  font-weight: 400;
}

.bid-history-wrapper {
  margin-top: .5rem;
  border-top: 2px solid rgba(var(--white), .1);

  p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    color: rgba(var(--white), .5);
  }

  .bid-history-head {
    padding: 1rem 0 0;

    display: flex;
    align-items: baseline;
    justify-content: space-between;

    span {
      font-size: 1.4rem;
      color: rgba(var(--white), 1);
    }

    button {
      font-family: var(--secondary-font-stack);
      font-size: 1.2rem;
      font-weight: 400;
      color: rgba(var(--white), .5);
      background: none;
      padding: 0;

      &:active {
        color: rgba(var(--white), 1);
      }

      &.disabled {
        color: rgba(var(--white), .2);
        pointer-events: none;
      }
    }
  }

  .bid-history {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;

    .bid-item {
      font-family: var(--secondary-font-stack);
      font-size: 1.4rem;
      color: rgba(var(--white), 1);

      display: flex;
      align-items: center;
      justify-content: space-between;

      eth-address {}

      .bid-amount-wrapper {

        display: flex;
        align-items: center;

        span {
          padding-right: 1rem;
        }

        a {
          padding: .5rem;

          svg {
            display: block;

            path {
              fill: rgba(var(--white), .5);
            }
          }
        }

      }
    }
  }
}
