:host {
  display: block;
  // font-family: var(--secondary-font-stack);
}

$avatar-size: 2.4rem;
$padding: calc($avatar-size + 1rem);

h2 {
  font-size: 2.4rem;
  padding-bottom: 2rem;
}

.main-comment-form-wrapper {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  // border-bottom: 2px solid rgba(var(--base-color), 1);
}

.comments-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  color: rgba(var(--text-color), 1);
}

// .expand-button {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   width: 2rem;
//   height: 2rem;

//   padding: 0;
//   margin: 0;
// }

.empty {
  padding: 1rem;
  background-color: rgba(var(--dark-text), .1);

  p {
    padding: 0;
    margin: 0;
  }
}

.comment-wrapper {
  background-color: rgba(var(--dark-text), .1);
  padding: 1rem;
  padding-right: 0;
  max-width: 100%;
  overflow: hidden;

  .comment {
    max-width: 100%;
    padding-bottom: 1rem;

    .reply-button,
    .delete-button {
      padding: 0;
      margin: 0;

      background: none;
      font-size: 1.2rem;
      font-weight: 600;
      color: rgba(var(--text-color), 1);

      &.active {
        color: rgba(var(--base-color), 1);
      }
    }

    .expand-button {
      padding: 0;
      margin: 0;

      background: none;
      font-size: 1.4rem;
      font-weight: 600;
      color: rgba(var(--base-color), 1);
    }

    .comment-header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
      row-gap: 1rem;

      .author {
        display: flex;
        align-items: center;
        gap: 1rem;

        text-decoration: none;
        color: inherit;

        app-avatar {
          width: $avatar-size;
          height: $avatar-size;
        }

        app-address {
          font-weight: 700;
          // color: rgba(var(--base-color), 1);
        }
      }

      .date {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    .comment-content {
      padding-left: $padding;
      max-width: 100%;
      overflow: hidden;
      padding-top: 1rem;

      p {
        font-size: 1.6rem;
        font-weight: 500;

        padding: 0;
        margin: 0;
        padding-right: 1rem;
        color: rgba(var(--text-color), .75);

        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;
        white-space: pre-wrap;
        max-width: 100%;

        &.deleted {
          opacity: .5;
        }
      }

      .image-wrapper {
        img {
          max-width: 100%;
          width: 32rem;
          height: auto;
          aspect-ratio: 1;
          image-rendering: pixelated;
        }
      }
    }

    .comment-footer {
      display: flex;
      align-items: center;
      gap: 1rem;

      padding-left: $padding;
      padding-top: 2rem;
    }

    &.has-more {
      padding-bottom: 1rem;
    }
  }

  .replies {
    margin-left: $padding;
    border-left: .2rem solid rgba(var(--base-color), 1);
    margin-left: 0.5rem;

    .reply-form-wrapper {
      padding-left: 0rem;
    }

    .comment-wrapper {
      background-color: rgba(var(--dark-text), .05);
    }

    .comment {
      .comment-content {
        padding-left: 0rem;
      }

      .comment-footer {
        padding-left: 0rem;
      }
    }
  }

  .reply-form-wrapper {
    padding-left: $padding;
  }
}

.comment-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  .comments-textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    resize: none;
    padding: 1rem;
    background-color: rgba(var(--dark-text), .15);
    color: rgba(var(--text-color), 1);
    border: none;

    font-family: var(--primary-font-stack);

    &:focus {
      outline: none;
    }
  }

  .comment-button {
    padding: 1rem;
    background-color: rgba(var(--base-color), 1);
    color: rgba(var(--black), 1);

    &.disabled {
      opacity: .5;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  .actions-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;

    .help-button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 2.2rem;
      height: 2.2rem;
      min-width: 2.2rem;
      min-height: 2.2rem;

      padding: 0;

      border: .2rem solid rgba(var(--base-color), 1);
      background: none;

      font-family: var(--secondary-font-stack);
      color: rgba(var(--base-color), 1);

      opacity: .5;

      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }
}
