input {
  font-family: $primary-font-stack;
  // height: 4rem;
  color: rgba(var(--text-color), 1);
  font-size: 2rem;
  padding: 1rem;

  background-color: rgba(var(--text-color), .1);
  border: none;

  width: 100%;

  outline: none;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }

  &:focus {
    background-color: rgba(var(--text-color), .2);
  }

  &::placeholder {
    color: rgba(var(--text-color), .3);
    font-size: 1.6rem;
    font-weight: 500;
  }

  &[type=radio] {
    display: none;

    + label {
      position: relative;
      padding: 0 3rem;

      color: rgba(var(--dark-text), 1);
      font-weight: 600;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 2rem;
        height: 2rem;

        border: .3rem solid rgba(var(--highlight), 1);
      }
    }

    &:checked {
      + label {
        &:before {
          background-color: rgba(var(--highlight), 1);
        }
      }
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 0 0 2rem;

  label {
    font-weight: 700;
    padding-bottom: .5rem;
  }
}

.form-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;

  padding-top: 1rem;

  button {
    padding: 1rem;
    font-weight: 700;
    font-size: 1.5rem;

    &.disabled {
      opacity: .5;
      pointer-events: none;
    }
  }
}
