.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 0;
  height: 100%;

  input {
    height: 100%;
  }
}

.ng-select {
  outline: none !important;

  .ng-select-container {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: none;

    font-family: $primary-font-stack;
    border: .2rem solid rgba(var(--text-color), 1);
    color: rgba(var(--dark-text), 1);
    font-size: 1.6rem;

    outline: none !important;

    .ng-value-container {

      .ng-placeholder {
        font-size: 1.6rem;
        font-weight: 600;
        color: rgba(var(--text-color), 1);
      }

      .ng-input {
        > input {
          font-family: $primary-font-stack;
          font-size: 1.6rem;
          font-weight: 600;
          color: rgba(var(--dark-text), 1);
        }
      }
    }
  }

  .ng-arrow-wrapper {
    .ng-arrow {
      border-color: rgba(var(--text-color), 1) transparent transparent;
    }
  }

  .ng-clear-wrapper {
    color: rgba(var(--text-color), 1);
  }

  .ng-dropdown-panel {
    background-color: rgba(var(--background), 1);
    border: .2rem solid rgba(var(--text-color), 1);

    &.ng-select-bottom {
      border-top: none;
    }

    .ng-dropdown-panel-items {
      .ng-option {
        background: none;
        color: rgba(var(--text-color), 1);

        &.ng-option-marked,
        &.ng-option-selected {
          background: none;
          color: rgba(var(--highlight), 1);

          &.ng-option-selected {
            background: none;
            color: rgba(var(--highlight), 1);
          }
        }
      }
    }
  }

  &.ng-select-opened {
    .ng-select-container {
      border: .2rem solid rgba(var(--text-color), 1);
      background: inherit;
    }

    .ng-arrow-wrapper {
      .ng-arrow {
        border-color: transparent transparent rgba(var(--text-color), 1);
      }
    }
  }

  &.ng-select-focused:not(.ng-select-opened),
  &.active {
    .ng-select-container {
      border: .2rem solid rgba(var(--highlight), 1);
      box-shadow: none;
    }
  }

  &.search {
    border: none;

    .ng-select-container {
      border: none;
      background-color: rgba(var(--black), .1);
      color: rgba(var(--black), 1);

      .ng-value-container {

        .ng-placeholder,
        .ng-input > input,
        .ng-value {
          font-family: $secondary-font-stack;
          font-size: 1.6rem;
          font-weight: normal;
          color: rgba(var(--black), .25);
        }

        .ng-placeholder {
          font-size: 1.2rem;
        }

        .ng-input > input {
          color: rgba(var(--black), 1);
        }

        .ng-value {

        }
      }
    }

    .ng-arrow-wrapper,
    .ng-clear-wrapper {
      display: none;
    }

    .ng-dropdown-panel {
      border: none;
      background-color: rgba(var(--black), 1);
    }

    &.ng-select-focused:not(.ng-select-opened),
    &.active {
      .ng-select-container {
        border: none;
        box-shadow: none;
      }
    }

  }
}
