@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: grid;
  grid-template-columns: repeat(5, calc((100% / 5) - 1.6rem));
  column-gap: 2rem;

  .filter-group-wrapper {
    padding: 0 0 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
  }

  .trait-select {

    input {
      font-family: $primary-font-stack;
      font-size: 1.4rem;
      font-weight: 600;

      padding: 0 1rem;
      margin: 0;
      border: none;
      border-radius: .4rem;

      width: 100%;
      height: 3.6rem;

      border: .3rem solid rgba(var(--highlight), 1);

      outline: none;
    }
  }

  .clear {
    button {
      width: 100%;
      height: 3.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      // border-radius: .2rem;
    }
  }

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, calc((100% / 2) - 1rem));
  }

}
