@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: block;

  margin-top: var(--billboard-height);

}

app-splash {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.sections-wrapper {
  position: relative;
  z-index: 1;

  padding-top: 4rem;
  background-color: rgba(var(--background), 1);
}

section {
  padding: 0 0 5rem;

  h3 {
    font-size: 2.4rem;
    padding-bottom: 2rem;
  }

  p {
    padding: 0;
    margin: 0;

    padding-bottom: .75rem;
    font-size: 1.5rem;

    &.intro {
      font-size: 1.7rem;
      line-height: 1.45;
    }

    &:last-child {
      margin-bottom: 1rem;
    }
  }

  .section-stats-wrapper {}

  &.overview {
    padding-bottom: 4rem;
  }

  &.intro-wrapper {

    .inner {
      position: relative;
      display: flex;
      align-items: flex-start;
      padding-bottom: 4rem;

      .intro-phunks {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        row-gap: 2rem;
        width: 44rem;

        img {
          width: 100%;
          height: auto;
          image-rendering: pixelated;
        }
      }

      p.intro {
        width: calc(100% - 44rem);
        padding: 1rem 0 0 3rem;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 3rem;
        width: calc(100% - 6rem);
        border-bottom: .2rem solid rgba(var(--text-color), .1);
      }
    }
  }

  @media (max-width: $mobile) {
    padding: 0 0 2rem;

    .inner {
      padding: 0 2rem 4rem;
    }

    &.intro-wrapper {
      .inner {
        flex-direction: column;

        .intro-phunks {
          width: 100%;
          grid-template-columns: repeat(5, 1fr);
          row-gap: 1rem;
          margin-bottom: 2rem;
        }

        p.intro {
          font-size: 1.6rem;
          width: 100%;
          padding: 0;
        }

        &:after {
          display: none;
        }
      }
    }
  }
}
