<app-splash />

<div class="sections-wrapper" waIntersectionObserver waIntersectionThreshold="0.5">
  <section class="overview">
    <div class="inner">
      <app-overview />
    </div>
  </section>

  <!-- Box -->
  <section class="phunk-box">
    <div class="inner">

      <h3 i18n>EtherPhunk Search</h3>
      <p i18n>Search a wallet address to view their EtherPhunk collection or</p>
      <p>Enter an EtherPhunk ID to view a specific EtherPhunk</p>

      <form [formGroup]="phunkBox" (ngSubmit)="onSubmit($event)">
        <div class="input-wrapper">
          <input
            type="text"
            placeholder="0x, ens or EtherPhunk ID"
            formControlName="addressInput"
            [class.disabled]="phunkBoxLoading"
          />

          @if (phunkBoxLoading) {
            <img src="/assets/loader-{{ theme$ | async }}.gif" width="20" height="20" />
          }
        </div>

        @if (phunkBoxError) {
          <p class="highlight">Invalid Address or EtherPhunk ID</p>
        }
        <button i18n type="submit">Go</button>
      </form>

    </div>
  </section>

  @defer {
    @if ((ownedPhunks$ | async); as ownedData) {
      @if (ownedData.length) {
        @if ((walletAddress$ | async); as address) {
          <section>
            <div class="inner">
              <h3 i18n>Owned</h3>

              <div class="section-stats-wrapper">
                <p i18n>Showing owned EtherPhunks,
                  <a
                    class="highlight"
                    [routerLink]="['/', 'owned']"
                    [href]="'/owned'"
                    [queryParams]="{ address }">

                    ({{ ownedData.length | number }}) view all.
                  </a>
                </p>
              </div>

              <app-phunk-grid
                [phunkData]="ownedData || []"
                [viewType]="'compact'"
                [limit]="(isMobile$ | async) ? 100 : 110"
                [marketType]="'owned'"
                [sort]="'price-low'"
              />
            </div>
          </section>
        }
      }
    }

    <section>
      <div class="inner">
        <h3 i18n>For Sale</h3>

        @if (listings$ | async; as listings) {
          <div class="section-stats-wrapper">
            @if ((listings | calc : 'lowestListingPrice'); as ethPrice) {
              <p i18n>The lowest price EtherPhunk currently for sale is <span class="bold">Ξ{{ ethPrice | number : '1.2-2' }} ({{ (ethPrice * ((dataSvc.usd$ | async) || 0)) | currency }} USD)</span>.</p>
            }

            <p i18n>Showing lowest price offers, <a class="highlight" [routerLink]="['/listings']" [href]="'/listings'">({{ listings.length | number }}) view all.</a></p>
          </div>
        }

        <app-phunk-grid
          [phunkData]="(listings$ | async) || []"
          [viewType]="'compact'"
          [limit]="(isMobile$ | async) ? 100 : 110"
          [marketType]="'listings'"
          [sort]="'price-low'"
        />
      </div>
    </section>

    <section>
      <div class="inner">
        <h3 i18n>Bids</h3>

        @if ((bids$ | async); as bids) {
          <div class="section-stats-wrapper">
            @if ((bids | calc : 'averageBidPrice'); as ethPrice) {
              <p i18n>The average currently open bid is<span class="bold">Ξ{{ ethPrice | number : '1.2-2' }} ({{ (ethPrice * ((dataSvc.usd$ | async) || 0)) | currency }} USD)</span>.</p>
            }
            @if ((bids | calc : 'totalBidsValue'); as ethPrice) {
              <p i18n>Total value of all current bids is<span class="bold">Ξ{{ ethPrice | number : '1.2-2' }} ({{ (ethPrice * ((dataSvc.usd$ | async) || 0)) | currency }} USD)</span>.</p>
            }
            <p i18n>Showing top bids,<a class="highlight" [routerLink]="['/bids']" [href]="'/bids'">({{ bids.length | number }}) view all.</a></p>
          </div>
        }

        <app-phunk-grid
          [phunkData]="(bids$ | async) || []"
          [viewType]="'compact'"
          [limit]="(isMobile$ | async) ? 100 : 110"
          [marketType]="'bids'"
          [sort]="'price-high'"
        />
      </div>
    </section>

    @if ((allPhunks$ | async); as allPhunks) {
      <section>
        <div class="inner">
          <h3 i18n>All</h3>
          <div class="section-stats-wrapper">
            <p i18n><a class="highlight" [routerLink]="['/all']" [href]="'/all'">View all 10,000 EtherPhunks.</a></p>
          </div>

          <app-phunk-grid
            [phunkData]="allPhunks"
            [viewType]="'compact'"
            [limit]="(isMobile$ | async) ? 100 : 110"
            [marketType]="'all'"
            [sort]="'id'"
          />
        </div>
      </section>
    }
  }
</div>
