@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: block;
}

section {
  padding: 0 0 5rem;

  h3 {
    font-size: 2.4rem;
    padding-bottom: 2rem;
  }

  p {
    padding: 0;
    margin: 0;

    padding-bottom: .75rem;
    font-size: 1.5rem;

    &.intro {
      font-size: 1.7rem;
      line-height: 1.45;
    }

    &:last-child {
      margin-bottom: 1rem;
    }
  }

  .section-stats-wrapper {}

  &.phunk-box {
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .input-wrapper {
        display: flex;
        align-items: center;
        width: 100%;

        input {
          width: 100%;
          max-width: 42rem;
          margin-bottom: 1rem;

          &.disabled {
            opacity: .5;
            pointer-events: none;
          }
        }

        img {
          margin-left: 1rem;
        }
      }

      button {
        padding: 1rem 2rem;
      }

      p {
        &.error {}
      }
    }
  }

  &.intro-wrapper {

    .inner {
      position: relative;
      display: flex;
      align-items: flex-start;
      padding-bottom: 4rem;

      .intro-phunks {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        row-gap: 2rem;
        width: 44rem;

        img {
          width: 100%;
          height: auto;
          image-rendering: pixelated;
        }
      }

      p.intro {
        width: calc(100% - 44rem);
        padding: 1rem 0 0 3rem;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 3rem;
        width: calc(100% - 6rem);
        border-bottom: .2rem solid rgba(var(--text-color), .1);
      }
    }
  }

  @media (max-width: $mobile) {
    padding: 0 0 2rem;

    .inner {
      padding: 0 2rem 4rem;
    }

    &.intro-wrapper {
      .inner {
        flex-direction: column;

        .intro-phunks {
          width: 100%;
          grid-template-columns: repeat(5, 1fr);
          row-gap: 1rem;
          margin-bottom: 2rem;
        }

        p.intro {
          font-size: 1.6rem;
          width: 100%;
          padding: 0;
        }

        &:after {
          display: none;
        }
      }
    }
  }
}

