<app-splash [slug]="(activeCollection$ | async)?.slug" />

<!-- {{ (activeCollection$ | async) | json }} -->

<div class="sections-wrapper">

  <section class="overview">
    <app-recent-activity />
  </section>

  @defer {
    @if ((owned$ | async); as ownedData) {
      @if (ownedData.length) {
        @if ((walletAddress$ | async); as address) {
          <section>
            <div class="inner">
              <h3 i18n>Owned</h3>

              <div class="section-stats-wrapper">
                <p i18n>Showing owned {{ (activeCollection$ | async)?.singleName }}s,
                  <a
                    class="highlight"
                    [routerLink]="['market', 'owned']"
                    [queryParams]="{ address }"
                    [relativeTo]="route">

                    ({{ ownedData.length | number }}) view all.
                  </a>
                </p>
              </div>

              <app-phunk-grid
                [phunkData]="ownedData || []"
                [viewType]="'compact'"
                [limit]="(isMobile$ | async) ? 100 : 110"
                [marketType]="'owned'"
                [activeSort]="'price-low'"
              />
            </div>
          </section>
        }
      }
    }

    <section>
      <div class="inner">
        <h3 i18n>For Sale</h3>

        @if (listings$ | async; as listings) {
          <div class="section-stats-wrapper">
            @if ((listings | calc : 'lowestListingPrice'); as ethPrice) {
              <p i18n>The lowest price {{ (activeCollection$ | async)?.singleName }} currently for sale is <span class="bold">Ξ{{ ethPrice | number }} ({{ (ethPrice * ((usd$ | async) || 0)) | currency }} USD)</span>.</p>
            }

            <p i18n>Showing lowest price offers, <a class="highlight" [routerLink]="['market', 'listings']" [relativeTo]="route">({{ listings.length | number }}) view all.</a></p>
          </div>

          <app-phunk-grid
            [phunkData]="(listings$ | async) || []"
            [viewType]="'compact'"
            [limit]="(isMobile$ | async) ? 100 : 110"
            [marketType]="'listings'"
            [activeSort]="'price-low'"
          />
        }
      </div>
    </section>

    <!-- <section>
      <div class="inner">
        <h3 i18n>Bids</h3>

        @if ((bids$ | async); as bids) {
          <div class="section-stats-wrapper">
            @if ((bids | calc : 'averageBidPrice'); as ethPrice) {
              <p i18n>The average currently open bid is <span class="bold">Ξ{{ ethPrice | number }} ({{ (ethPrice * ((usd$ | async) || 0)) | currency }} USD)</span>.</p>
            }
            @if ((bids | calc : 'totalBidsValue'); as ethPrice) {
              <p i18n>Total value of all current bids is <span class="bold">Ξ{{ ethPrice | number }} ({{ (ethPrice * ((usd$ | async) || 0)) | currency }} USD)</span>.</p>
            }
            <p i18n>Showing top bids, <a class="highlight" [routerLink]="['market', 'bids']">({{ bids.length | number }}) view all.</a></p>
          </div>

          <app-phunk-grid
            [phunkData]="(bids$ | async) || []"
            [viewType]="'compact'"
            [limit]="(isMobile$ | async) ? 100 : 110"
            [marketType]="'bids'"
            [activeSort]="'price-high'"
          />
        }
      </div>
    </section> -->

    <section>
      <div class="inner">
        <h3 i18n>All</h3>

        @if ((all$ | async); as allPhunks) {
          @if ((activeCollection$ | async); as activeCollection) {
            <div class="section-stats-wrapper">
              <p i18n>
                <a
                  class="highlight"
                  [routerLink]="['market', 'all']"
                  [relativeTo]="route">

                  View all {{ activeCollection.supply | number }} {{ activeCollection.singleName }}s.
                </a>
              </p>
            </div>

            <app-phunk-grid
              [phunkData]="allPhunks"
              [viewType]="'compact'"
              [limit]="(isMobile$ | async) ? 100 : 110"
              [marketType]="'all'"
              [activeSort]="'id'"
            />
          }
        }
      </div>
    </section>
  }
</div>
