<div class="form-wrapper">
  <h3>Coming soon</h3>
  <!-- <div class="input-wrapper">
    <input type="number" placeholder="Phunk ID" [formControl]="phunkId" />
    <div class="loader" *ngIf="loadingPhunk">
      <img src="/assets/loader-light.gif" width="20" height="20" alt="">
    </div>
  </div>

  <button (click)="randomPhunk()">Random</button> -->
</div>

<div class="image-wrapper">
  <img [src]="activePhunkBase64 || defaultPunk" width="240" height="240" />
</div>

<div class="actions-wrapper">

  <div class="actions-buttons-wrapper">
    <button
      (click)="downloadActive = !downloadActive"
      class="download"
      [class.disabled]="!activePhunkBase64">

      Download
    </button>

    <ng-container *ngIf="stateSvc.web3Connected$ | async; else connect">
      <button
        (click)="ethscribePhunk()"
        class="ethscribe"
        [class.disabled]="notAvailable !== 0">

        Ethscribe
      </button>
    </ng-container>
    <ng-template #connect>
      <button
        (click)="ethSvc.connect()"
        class="ethscribe"
        [class.disabled]="notAvailable !== 0">

        Connect Wallet
      </button>
    </ng-template>
  </div>

  <ng-container *ngIf="notAvailable !== -1;">
    <p class="error" *ngIf="notAvailable === 1">This Phunk has already been ethscribed.</p>
  </ng-container>

  <ng-container *ngIf="transaction.status">
    <p class="pink">Your transaction is {{ transaction.status }}. View it on Etherscan <a [href]="'https://etherscan.com/tx/' + transaction.hash" target="_blank">here</a></p>
  </ng-container>
</div>

<div class="download-wrapper" *ngIf="downloadActive">
  <h3>Download Image</h3>

  <div class="download-buttons-wrapper">
    <button (click)="download(true)">With Background</button>
    <button (click)="download()">Without Background</button>
  </div>
</div>


<!-- {{ notAvailable }} -->
