@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  > * {
    user-select: none;
  }
}

app-owned {
  // border: 1px solid red;
}

.mint-info-wrapper {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0 0 .5rem 0;

  .minted {
    color: rgba(var(--pink), 1);
  }
}

button {
  height: 4rem;
  background-color: rgba(var(--black), 1);
  justify-content: center;

  &.ethscribe {
    background-color: rgba(var(--green), 1);
    color: rgba(var(--black), 1);
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  @media (max-width: $mobile) {
    font-size: 1.4rem;
  }
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;

  background-color: rgba(var(--green), 1);

  img {
    display: block;
  }
}

.form-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  width: 100%;

  .input-wrapper {
    position: relative;
    width: 100%;

    input {
      font-size: 1.6rem;
      font-weight: 700;
      height: 4rem;

      &::placeholder {
        color: rgba(var(--text-color), .25);
      }
    }

    .loader {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);

      img {
        display: block;
      }
    }
  }
}

.actions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-bottom: 2rem;

  .actions-buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    width: 100%;

    button {
      width: 100%;
    }
  }
}

.download-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-bottom: 2rem;

  h3 {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 1rem;
  }

  .download-buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    width: 100%;

    button {
      width: 100%;
    }
  }
}
