@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 19999;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(var(--base-color), 0.35);

  // opacity: 0;
  // visibility: hidden;
  // pointer-events: none;

  // &.active {
  //   opacity: 1;
  //   visibility: visible;
  //   pointer-events: auto;
  // }

  @media (max-width: $mobile) {
    padding-top: calc(var(--header-height) / 2);
    align-items: flex-start;
  }
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;

  overflow-y: scroll;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  background-color: rgba(var(--background), 1);
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);

  button {
    &.close {
      position: absolute;
      top: 0;
      right: 0;

      background: none;
      padding: 1rem;

      svg {
        path {
          fill: rgba(var(--base-color), 1);
        }
      }
    }
  }

  @media (max-width: $mobile) {
    min-width: 100%;
    max-width: 100%;

    min-height: 100%;
    max-height: 100%;
  }
}
