@use '@scss/abstracts/variables' as *;
@use '@scss/abstracts/mixins' as *;

main {
  min-height: calc(100vh - 21rem);
  padding-bottom: 8rem;

  @media (max-width: $mobile) {
    // padding-top: calc((var(--header-height) / 2) + 4rem);
  }
}

.header-backdrop {
  position: fixed;
  z-index: 990;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: rgba(var(--base-color), 1);
  // mix-blend-mode: luminosity;
  // backdrop-filter: blur(1rem);
  pointer-events: none;
}

.status-wrapper {
  position: fixed;
  z-index: 993;
  bottom: 0;
  right: 0;

  height: var(--status-bar-height);
  padding: 1rem 1.5rem;

  background-color: rgba(var(--dark-grey), 1);

  @include trans($duration: .2s);

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .chat-button {
    position: relative;

    font-family: var(--secondary-font-stack);
    font-weight: 400;
    font-size: 1.6rem;
    color: rgba(var(--white), 1);

    padding: 0 1rem;
    margin-left: .5rem;
    background: transparent;
    border: none;

    .unread-count {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.6rem;
      height: 1.6rem;

      position: absolute;
      top: -1.5rem;
      right: -1rem;
      background-color: rgba(var(--magma), 1);
      color: rgba(var(--black), 1);
      padding: 0 .5rem;

      font-size: 1.2rem;
    }

    svg {
      width: 2rem;
      height: 2rem;

      path {
        fill: rgba(var(--white), 1);
      }
    }

    &.active {
      color: rgba(var(--base-color), 1);

      svg {
        path {
          fill: rgba(var(--base-color), 1);
        }
      }
    }
  }

  @media (max-width: $mobile) {
    bottom: -100%;
    padding-bottom: calc(env(safe-area-inset-bottom) + 2rem);

    &.visible {
      bottom: 0;
    }
  }
}

app-chat {
  position: fixed;
  z-index: 99300;
  bottom: var(--status-bar-height);
  right: 0;

  background-color: rgba(var(--dark-grey), 1);
  // background-color: rgba(var(--bid-color), 1);
  border: .3rem solid rgba(var(--base-color), 1);

  width: 100%;
  max-width: 50rem;
  height: 50rem;
}

app-logger {
  position: fixed;
  z-index: 99200;
  bottom: var(--status-bar-height);
  right: 0;

  width: 100%;
  max-width: 60rem;
  height: 50rem;

  background-color: rgba(var(--dark-grey), 1);
  border: .3rem solid rgba(var(--base-color), 1);
}

app-ordex-withdrawal {
  position: fixed;
  z-index: 99300;
  top: 2rem;
  right: 2rem;

  width: calc(100% - 4rem);
  max-width: 36rem;

  @media (max-width: $mobile) {
    top: 1rem;
    right: 1rem;
    width: calc(100% - 2rem);
    max-width: 100%;
  }
}
