@use '@scss/abstracts/variables' as *;
@use '@scss/abstracts/mixins' as *;

main {
  min-height: calc(100vh - 21rem);
  padding-bottom: 8rem;

  @media (max-width: $mobile) {
    // padding-top: calc((var(--header-height) / 2) + 4rem);
  }
}

.header-backdrop {
  position: fixed;
  z-index: 990;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: rgba(var(--base-color), 1);
  // mix-blend-mode: luminosity;
  // backdrop-filter: blur(1rem);
  pointer-events: none;
}

app-ordex-withdrawal {
  position: fixed;
  z-index: 99300;
  top: 2rem;
  right: 2rem;

  width: calc(100% - 4rem);
  max-width: 36rem;

  @media (max-width: $mobile) {
    top: 1rem;
    right: 1rem;
    width: calc(100% - 2rem);
    max-width: 100%;
  }
}
