<div
  #imagesWrapper
  class="images-wrapper"
  [class.mint-mode]="collection()?.isMinting"
  [class.is-minting]="!!mintImage() && collection()?.isMinting">

  @for (
    image of (imageArray$ | async) || defaultImages;
    track image.src + image.type + idx;
    let idx = $index;
  ) {
    <div class="image-wrapper">
      <img [src]="image.src" width="320" height="320" />
    </div>
  } @empty {
    <!-- @for (image of defaultImages; track image.src + image.type + idx; let idx = $index) {
      <div class="image-wrapper" [class]="image.type">
        <img [src]="image.src" width="320" height="320" />
      </div>
    } -->
  }

</div>

<!-- <app-stats [collection]="collection()" /> -->
