:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: var(--billboard-height);
  margin-bottom: 6rem;

  background-color: rgba(var(--highlight), 1);
}

.images-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 32rem;

  overflow: hidden;

  .image-wrapper {
    width: 32rem;
    min-width: 32rem;
    height: 32rem;

    img {
      display: block;
      width: 32rem;
      height: 32rem;
    }
  }
}
