<app-phunk-billboard
  [data]="(phunk$ | async)">
</app-phunk-billboard>

<div class="inner">
  <div class="view-item-wrapper">

    <div
      class="details-wrapper"
      *ngIf="(phunk$ | async) as phunk; else detailsPlaceholder">

      <div class="title-wrapper">
        <div class="title-color">
          <h1 i18n>EthPhunk {{ phunk.id }}</h1>
          <p *ngIf="phunk.hashId">Ethscription ID <a [href]="explorerUrl + '/tx/' + phunk.hashId" target="_blank"><app-wallet-address [address]="phunk.hashId"></app-wallet-address></a></p>
        </div>
        <h2 i18n>One of {{ phunk.attributes[0].v | traitCount }}
          <a
            class="highlight"
            [routerLink]="['/', 'all']"
            [queryParams]="getItemQueryParams(phunk.attributes[0])">

            {{ phunk.attributes[0].v }}
          </a> EthPhunks.
        </h2>
      </div>

      <div class="accessories-wrapper">
        <h2 i18n>Attributes</h2>
        <div class="accessories" *ngIf="phunk.attributes.length">
          <ng-container *ngFor="let item of phunk.attributes; let i = index">
            <div class="accessory" *ngIf="i > 1">
              <a
                class="value"
                [routerLink]="['/', 'all']"
                [queryParams]="getItemQueryParams(item)">

                {{ item.v }}
              </a>
              <span class="trait-count">
                <span>{{ item.v | traitCount }}</span>
                EthPhunks have this.
              </span>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="market-status">
        <h2 i18n>Current Market Status</h2>

        <!-- Owner -->
        <p i18n *ngIf="phunk.owner?.id as owner">This EthPhunk is currently owned by <a [routerLink]="['/', 'owned']" [queryParams]="{ address: owner }"><app-wallet-address [address]="owner"></app-wallet-address></a>.</p>

        <!-- Value (Listing) -->
        <ng-container *ngIf="phunk.listing?.value as value; else notlistings"><p i18n>This EthPhunk is currently for sale for <span class="highlight">{{ (value | weiToEth) | formatCash }} ETH</span><span class="bold"> (${{ ((value | weiToEth) * ((dataSvc.usd$ | async) || 0)) | formatCash }})</span>.</p></ng-container>

        <!-- Has bid -->
        <ng-container *ngIf="phunk.bid as bid; else noBids">
          <ng-container *ngIf="bid.value && bid.fromAccount?.id">
            <p i18n>There is a bid of <span class="bold">{{ bid.value | weiToEth }} ETH</span> ({{ ((bid.value | weiToEth) * ((dataSvc.usd$ | async) || 0)) | currency }}) for this EthPhunk from <a [routerLink]="['/', 'owned']" [queryParams]="{ address: bid.fromAccount?.id }"><app-wallet-address [address]="bid.fromAccount!.id"></app-wallet-address></a>.</p>
          </ng-container>
        </ng-container>

        <ng-template #noBids>
          <p i18n>There are currently no bids on this EthPhunk.</p>
        </ng-template>

        <!-- Not for sale -->
        <ng-template #notlistings>
          <p i18n>This EthPhunk is currently not for sale.</p>
        </ng-template>
      </div>

      <div class="actions-wrapper">

        <ng-container *ngIf="(stateSvc.walletAddress$ | async) as address; else notConnected">
          <ng-container *ngIf="phunk.owner?.id as owner">

            <ng-container *ngIf="!phunk.wrapped; else wrappedBuy">
              <button
                i18n
                *ngIf="
                  phunk.listing &&
                  (owner | lowercase) !== (address | lowercase)
                "
                class="buy"
                (click)="buyPhunk(phunk)">

                Buy
              </button>
            </ng-container>

            <ng-container *ngIf="((owner | lowercase) === (address | lowercase))">

              <button
                i18n
                class="sell"
                (click)="sellModalActive = true"
                *ngIf="!phunk.listing">

                Sell
              </button>

              <button
                i18n
                class="transfer"
                (click)="transferModalActive = true">

                Transfer
              </button>
            </ng-container>

            <ng-container *ngIf="(owner | lowercase) === (address | lowercase) && phunk.listing">
              <button
                i18n
                class="sell"
                (click)="phunkNoLongerForSale(phunk)">

                Delist
              </button>
            </ng-container>

            <button
              i18n
              *ngIf="((owner | lowercase) !== (address | lowercase))"
              class="sell"
              (click)="bidModalActive = true">

              Place Bid
            </button>

            <button
              i18n
              *ngIf="((phunk.bid?.fromAccount?.id | lowercase) === (address | lowercase))"
              class="sell"
              (click)="withdrawBidForPhunk(phunk)">

              Withdraw Bid
            </button>

            <button
              i18n
              *ngIf="phunk.bid && ((owner | lowercase) === (address | lowercase))"
              class="sell"
              (click)="acceptBidModalActive = true">

              Accept Top Bid
            </button>
          </ng-container>
        </ng-container>

        <ng-template #notConnected>
          <button i18n (click)="web3Svc.connect()">Connect an Ethereum wallet to interact with this item</button>

          <ng-container *ngIf="phunk.wrapped && phunk.listing?.source">
            <ng-template [ngTemplateOutlet]="wrappedBuy"></ng-template>
          </ng-container>
        </ng-template>

        <ng-template #wrappedBuy>
          <a
            *ngIf="phunk.listing?.source"
            [href]="phunk.listing?.source?.url"
            target="_blank"
            class="button">

            Buy on {{ phunk.listing?.source?.name ?? 'external marketplace' }}
          </a>
        </ng-template>
      </div>

      <app-tx-history [hashId]="phunk.hashId"></app-tx-history>
    </div>
  </div>
</div>

<div
  class="modal-overlay"
  [class.active]="txModalActive || sellModalActive || bidModalActive || transferModalActive || acceptBidModalActive"
  [class]="txModalActive ? 'transaction' : ''">

  <div
    #modal
    class="modal">

    <ng-container *ngIf="(phunk$ | async) as phunk;">
      <ng-container *ngIf="txModalActive">
        <button class="close-modal" (click)="closeTxModal()">x</button>

        <ng-container *ngFor="let status of objectValues(txStatus); let i = index">
          <ng-container *ngIf="status.active">

            <h3>
              <img
                src="/assets/loader-{{ themeSvc.theme$ | async }}.gif"
                width="20" height="20"
                *ngIf="i === 0 || i === 1"
              />
              {{ status.title }}
            </h3>

            <span class="p-wrapper" [innerHTML]="status.message"></span>

          </ng-container>
        </ng-container>
      </ng-container>

      <!-- ACCEPT BID -->
      <ng-container *ngIf="acceptBidModalActive">
        <div class="phunk-info">
          <h2 i18n>Accept bid for <span class="highlight">{{ phunk.bid?.value || '0' | weiToEth }} ETH</span></h2>
          <h4>Bids can only be accepted when connected to the Flashbots Protect RPC.</h4>
          <p class="pink center">Flashbots Protect RPC provides the following benefits:</p>
          <ul>
            <li><span class="bold">Frontrunning protection:</span> transactions will not be seen by hungry sandwich bots in the public mempool.</li>
            <li><span class="bold">No failed transactions:</span> transactions will only be included if it doesn't include any reverts, so users don't pay for failed transactions. Note: transactions could be included in uncled blocks, emitted to the mempool, and then included on-chain.</li>
            <li><span class="bold">Etherscan integration:</span> users can see the status of their transactions on Etherscan.</li>
          </ul>

          <button (click)="addFlashbotsNetwork()">Add to MetaMask</button>
        </div>

        <div class="form-actions">
          <button i18n class="cancel" (click)="closeAcceptBid()">Cancel</button>
          <button i18n class="submit" (click)="acceptBidForPhunk(phunk)">Accept Bid</button>
        </div>
      </ng-container>

      <!-- SELL -->
      <ng-container *ngIf="sellModalActive">
        <div class="phunk-info">
          <h2 i18n>Offer EthPhunk #{{ phunk.id }} For Sale</h2>
          <div class="image-wrapper">
            <img
              [src]="dataSvc.staticUrl + '/phunk' + (phunk.id | tokenIdParse) + '.svg'"
              width="200"
              height="200"
            />
          </div>
        </div>

        <div class="form-group">
          <label i18n for="list-price">Asking Price in ETH (Ξ)</label>
          <input type="number" id="list-price" [min]="0" [formControl]="listPrice" />
          <div
            class="floor-notice"
            *ngIf="
              (listPrice.value ?? 0) < ((dataSvc.currentFloor$ | async) || 0) &&
              listPrice.value !== 0
            ">

            You are listing below floor price!
          </div>
        </div>

        <div class="form-group">
          <label i18n for="list-to-address">Offer to Address (0x or ens)</label>
          <input
            type="text"
            id="list-to-address"
            [placeholder]="'Anyone'"
            [formControl]="listToAddress"
            role="presentation"
            autocomplete="off"
          />
        </div>

        <div class="form-actions">
          <button i18n class="cancel" (click)="closeListing()">Cancel</button>
          <button i18n class="submit" (click)="submitListing(phunk)">Offer EthPhunk</button>
        </div>
      </ng-container>

      <!-- BID -->
      <ng-container *ngIf="bidModalActive">
        <div class="phunk-info">
          <h2 i18n>Bid on EthPhunk #{{ phunk.id }}</h2>
          <div class="image-wrapper">
            <img
              [src]="dataSvc.staticUrl + '/phunk' + (phunk.id | tokenIdParse) + '.svg'"
              width="200"
              height="200" />
          </div>
        </div>

        <div class="form-group">
          <label i18n for="bid-price">Bid Price (Ξ)</label>
          <input type="number" id="bid-price" [formControl]="bidPrice" placeholder="0" />
        </div>

        <div class="form-actions">
          <button i18n class="cancel" (click)="closeBid()">Cancel</button>
          <button i18n class="submit" (click)="submitBid(phunk)">Submit</button>
        </div>
      </ng-container>

      <!-- Transfer -->
      <ng-container *ngIf="transferModalActive">
        <div class="phunk-info">
          <h2 i18n>Transfer EthPhunk #{{ phunk.id }}</h2>
          <div class="image-wrapper">
            <img
              [src]="dataSvc.staticUrl + '/phunk' + (phunk.id | tokenIdParse) + '.svg'"
              width="200"
              height="200" />
          </div>
        </div>

        <div class="form-group">
          <label i18n for="transfer-address">Transfer to address</label>
          <input
            type="text"
            id="transfer-address"
            [formControl]="transferAddress"
            placeholder="0x or .ens"
            role="presentation"
            autocomplete="off"
          />
          <div
            class="floor-notice"
            *ngIf="
              transferAddress.value?.toLowerCase() === '0x000000000000000000000000000000000000dead' ||
              transferAddress.value?.toLowerCase() === '0x0000000000000000000000000000000000000000'
            ">

            Transfering to the burn address is disabled.
          </div>
        </div>

        <div class="form-actions">
          <button i18n class="cancel" (click)="closeTransfer()">Cancel</button>
          <button i18n
            class="submit"
            (click)="submitTransfer(phunk)"
            [class.disabled]="
              transferAddress.value?.toLowerCase() === '0x000000000000000000000000000000000000dead' ||
              transferAddress.value?.toLowerCase() === '0x0000000000000000000000000000000000000000'
            ">

            Submit
          </button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #detailsPlaceholder>
  <div class="details-wrapper">

    <div class="title-wrapper">
      <div class="title-color">
        <h1 i18n>Loading...</h1>
      </div>
      <h2 i18n>&nbsp;</h2>
    </div>

    <div class="accessories-wrapper">
      <h2 i18n>Attributes</h2>
      <div class="accessories">
        <div
          class="accessory"
          *ngFor="let item of [0, 1, 2]">

          <span class="value"></span>
          <span class="trait-count"></span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
