<app-phunk-billboard
  [phunk]="(singlePhunk$ | async)"
  [class.expanded]="billboardExpanded()"
  [style]="{
    'transform': 'translateY(' + ((scrollY$ | async) || 0) + 'px)',
  }">

  <button (click)="expandBillboard()">
    <ng-container *ngTemplateOutlet="expandIcon; context:{ $implicit: billboardExpanded() }" />
  </button>
</app-phunk-billboard>

<div
  class="view-item-wrapper"
  [class.expanded]="billboardExpanded()">

  <app-breadcrumbs [phunk]="singlePhunk$ | async" />

  @if ((singlePhunk$ | async); as phunk) {
    <div class="inner">

      @if (phunk.isAuctioned) {
        <app-auction [phunk]="phunk" />
      }

      <div class="details-wrapper">
        @if (phunk.owner) {
          <div class="title-wrapper">
            <h1 i18n>{{ phunk.collection?.singleName }} {{ phunk.tokenId }}</h1>

            <div class="hash-id">
              <span>Provenance Hash: </span>
              <a [href]="explorerUrl + '/tx/' + phunk.hashId" target="_blank">
                <app-address [address]="phunk.hashId" />
              </a>
            </div>

            @if (phunk.attributes && phunk.attributes.length) {
              <h2 i18n>One of {{ phunk.attributes[0].v | traitCount : phunk.slug }}
                <a
                  class="highlight"
                  [routerLink]="['/', 'curated', phunk.slug, 'market', 'all']"
                  [queryParams]="phunk.attributes[0] | queryParams">

                  {{ phunk.attributes[0].v }}
                </a> {{ phunk.collection?.name }}.
              </h2>
            }
          </div>

          <div class="split">
            <div class="left">

              <!-- Status -->
              <div class="market-status">
                <h2 i18n>Market Status</h2>

                <app-item-status [phunk]="phunk" />
              </div>

              <!-- Actions -->
              <app-item-actions [phunk]="phunk" [class.disabled]="indexerIsBehind$ | async" />

              @if (!(isMobile$ | async) && (globalConfig$ | async)?.comments) {
                @defer {
                  <app-comments [mainTopic]="phunk.hashId" />
                }
              }
            </div>

            <div class="right">
              <div class="accessories-wrapper">
                @if (phunk.attributes?.length) {
                  <app-item-attributes [phunk]="phunk" />
                }
              </div>
            </div>
          </div>
        } @else {
          <div class="title-wrapper">
            <h1 i18n>{{ phunk.collection?.singleName }} doesn't exist. 👎</h1>
            <div class="hash-id">
              <span>Provenance Hash: </span>
              <a [href]="explorerUrl + '/tx/' + phunk.hashId" target="_blank">
                <app-address [address]="phunk.hashId" />
              </a>
            </div>
          </div>
        }

        @if ((isMobile$ | async) && (globalConfig$ | async)?.comments) {
          @defer {
            <app-comments [mainTopic]="phunk.hashId" />
          }
        }

        @defer {
          <app-tx-history [phunk]="phunk" />
        }
      </div>
    </div>
  } @else {
    <!-- Loading -->
    <div class="inner">
      <div class="details-wrapper">

        <div class="title-wrapper">
          <h1 i18n>Loading...</h1>
          <div class="hash-id">
            <span>Provenance Hash: </span>
            <a><app-address [address]="'0x000000000000000000000'" /></a>
            <h2>&nbsp;</h2>
          </div>
        </div>

        <div class="split">
          <div class="left">
            <div class="market-status">
              <h2 i18n>&nbsp;</h2>
              <p i18n>&nbsp;</p>
              <p i18n>&nbsp;</p>
            </div>
          </div>
          <div class="right">
            <div class="accessories-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  }
</div>

<ng-template #expandIcon let-expanded>
  @if (billboardExpanded()) {
    <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><path d="m0 0h9v3h-6v15h15v-6h3v9h-21zm9 12v3h-3v-3zm3-3v3h-3v-3zm3-3v3h-3v-3zm6-6v6h-3v-3h-3v-3z" fill="rgba(var(--background), 1)" fill-rule="evenodd"/></svg>
  } @else {
    <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><path d="m0 0h9v3h-6v15h15v-6h3v9h-21zm9 9v3h3v3h-6v-6zm6-3v3h-3v-3zm3-3v3h-3v-3zm3-3v3h-3v-3z" fill="rgba(var(--background), 1)" fill-rule="evenodd"/></svg>
  }
</ng-template>
