// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  // Set font size
  font-size: 62.5%;
  font-weight: normal;
  letter-spacing: 0;
  width: 100%;
  height: 100%;
}

body {
  @include font-smoothing();
  position: relative;

  // Set font size
  font-size: 1.6rem;
  font-family: $primary-font-stack;
  color: rgba(var(--text-color), 1);
  width: 100%;
  // height: 100%;
  background-color: rgba(var(--background), 1);
  touch-action: manipulation;
}

app-root {
  display: flex;
  flex-direction: column;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

// Text Selection Color
*::selection {

}
