@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: block;
}

.breadcrumb {
  display: flex;
  align-items: center;

  padding: 1rem 1.5rem;
  background-color: rgba(var(--dark-text), .1);

  .inner {
    max-width: 120rem;

    .pfp-options-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .5rem 0 1rem 0;

      .pfp-options {
        display: flex;
        align-items: center;
      }
    }

    .crumbs-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .crumbs {
        button {
          padding: 0 1rem 0 0;

          font-weight: 300;
          font-size: 1.8rem;
          color: rgba(var(--highlight), 1);
          text-decoration: none;

          background: none;
        }

        .number {
          font-size: 1.8rem;
          padding-left: .5rem;
          padding: 0 1rem;
        }
      }

      .save-pfp {
        button {
          background: none;
          padding: .5rem 1rem;
          margin: 0;
          color: rgba(var(--highlight), 1);
          font-weight: 700;
          font-size: 1.4rem;

          &.active {
            background-color: rgba(var(--highlight), 1);
            color: rgba(var(--background), 1);
          }
        }
      }
    }
  }

  @media (max-width: $mobile) {
    .inner {
      padding: 0;
    }
  }
}
