@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: block;
  font-family: $secondary-font-stack;
}

.txn-item {
  position: relative;

  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-gap: 1rem;
  padding: 1rem 2rem 1rem 1rem;
  margin-bottom: .5rem;

  background-color: rgba(var(--black), 1);
  box-shadow: -.3rem .3rem 0 0 rgba(var(--black), 1);

  .dismiss {
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 0;

    width: 2rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $secondary-font-stack;
    font-size: 1.2rem;
    font-weight: normal;

    background-color: rgba(var(--pink), 1);
  }

  app-phunk-image {
    width: 5rem;
    height: 5rem;
  }

  .batch-image {
    width: 5rem;
    height: 5rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(2.5rem, 1fr));
    overflow: hidden;

    app-phunk-image {
      width: 100%;
      height: 100%;
    }
  }

  .txn-info {
    h4 {
      font-size: 1.2rem;
      font-weight: normal;

      padding: 0 0 .5rem 0;
      margin: 0;
    }

    p {
      font-size: 1rem;
      color: rgba(var(--white), .75);
      font-weight: normal;

      padding: 0;
      margin: 0;

      strong {
        font-weight: normal;
        color: rgba(var(--highlight), 1);
      }
    }
  }

  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    padding-top: .75rem;

    a,
    span {
      display: inline-flex;
      align-items: center;

      font-size: 1rem;
      color: rgba(var(--highlight), 1);
      font-weight: normal;

      svg {
        margin-left: .5rem;
        path {
          fill: rgba(var(--highlight), 1);
        }
      }
    }

    .timestamp {
      font-size: 1rem;
      color: rgba(var(--white), .75);
      font-weight: normal;

      padding: 0;
      margin: 0;
    }
  }

  &.bid {
    box-shadow: -.3rem .3rem 0 0 rgba(var(--bid-color), 1);

    app-phunk-image {
      background-color: rgba(var(--bid-color), 1);
    }

    .txn-info {
      h4 {
        color: rgba(var(--bid-color), 1);
      }
    }
  }
  &.sale {
    box-shadow: -.3rem .3rem 0 0 rgba(var(--sale-color), 1);

    app-phunk-image {
      background-color: rgba(var(--sale-color), 1);
    }

    .txn-info {
      h4 {
        color: rgba(var(--sale-color), 1);
      }
    }
  }
  &.transfer {
    box-shadow: -.3rem .3rem 0 0 rgba(var(--transferred-color), 1);

    app-phunk-image {
      background-color: rgba(var(--transferred-color), 1);
    }

    .txn-info {
      h4 {
        color: rgba(var(--transferred-color), 1);
      }
    }
  }
  &.escrow {
    box-shadow: -.3rem .3rem 0 0 rgba(var(--escrow-color), 1);

    app-phunk-image {
      background-color: rgba(var(--escrow-color), 1);
    }

    .txn-info {
      h4 {
        color: rgba(var(--escrow-color), 1);
      }
    }
  }
  &.event {
    box-shadow: -.3rem .3rem 0 0 rgba(var(--sale-color), 1);

    app-phunk-image {
      background-color: rgba(var(--sale-color), 1);
    }

    .txn-info {
      h4 {
        color: rgba(var(--sale-color), 1);
      }
    }
  }
  &.chat {
    box-shadow: -.3rem .3rem 0 0 rgba(var(--bid-color), 1);

    app-phunk-image {
      background-color: rgba(var(--bid-color), 1);
    }

    .txn-info {
      h4 {
        color: rgba(var(--bid-color), 1);
      }
    }
  }

  &.is-menu {
    box-shadow: none;
  }

  &.purchased {
    box-shadow: inset 0 0 0 .3rem rgba(var(--sale-color), 1);
  }
  // &.complete {
  //   opacity: .35;

  //   &:hover {
  //     opacity: 1;
  //   }
  // }
}
