@if (txn) {
  <div class="txn-item {{ classes[txn.function] }} {{ txn.type }}">

    @if (dismissible) {
      <button class="dismiss" (click)="dismiss(txn)">x</button>
    }

    @if (txn.isBatch && txn.phunkIds) {
      <div class="batch-image">
        @for (phunkId of txn.phunkIds; track phunkId) {
          <app-phunk-image [color]="txn.type === 'event'" [tokenId]="phunkId" />
        }
      </div>

      <div class="txn-info">
        <h4 [innerHTML]="titles.batch[txn.function].replace('%length%', txn.phunkIds.length)"></h4>
        <p [innerHTML]="transactionTypes[txn.type].message?.replace('%phunkId%', txn.phunkId)"></p>

        <div class="footer">
          @if (txn.hash) {
            <a class="hash" [href]="env.explorerUrl + '/tx/' + txn.hash" target="_blank">
              <app-address [address]="txn.hash"></app-address>
              <ng-template [ngTemplateOutlet]="externalIcon"></ng-template>
            </a>
          }
          @if (!dismissible) {
            <div class="timestamp">{{ txn.id | timeago : true }}</div>
          }
        </div>
      </div>
    } @else {
      <a [routerLink]="['/details', txn.phunkId]" [href]="'/details/' + txn.phunkId">
        <app-phunk-image [color]="txn.type === 'event'" [tokenId]="txn.phunkId" />
      </a>

      <div class="txn-info">
        <h4>{{ titles[txn.function] }}</h4>
        <p [innerHTML]="transactionTypes[txn.type].message?.replace('%phunkId%', txn.phunkId)"></p>

        <div class="footer">
          @if (txn.hash) {
            <a class="hash" [href]="env.explorerUrl + '/tx/' + txn.hash" target="_blank">
              <app-address [address]="txn.hash"></app-address>
              <ng-template [ngTemplateOutlet]="externalIcon"></ng-template>
            </a>
          }
          @if (!dismissible) {
            <div class="timestamp">{{ txn.id | timeago : true }}</div>
          }
        </div>
      </div>
    }
  </div>
}

<ng-template #externalIcon>
  <svg height="9" viewBox="0 0 9 9" width="9" xmlns="http://www.w3.org/2000/svg"><path d="m3 0v1.5h-1.5v6h6v-1.5h1.5v3h-9v-9zm1.5 4.5v1.5h-1.5v-1.5zm1.5 0h-1.5v-1.5h1.5v-1.5h-1.5v-1.5h4.5v4.5h-1.5v-1.5h-1.5z" fill="#ff03b4" fill-rule="evenodd" /></svg>
</ng-template>
